[2016-09-05 08:39] trevorwang opened #1 "Android latest appcompact-v7 support"
I met this kind of issue when I integrating with intune sdk.

[code]

It seems that  `MSMAMAppCompatDelegateWrapper` class doesn't implement `applyDayNight` method.

When will this SDK support the Android N release?

[2016-09-23 14:35] msintuneappsdk commented on #1
@trevorwang The next release of the SDK will have Android N support.

[2016-09-26 03:37] trevorwang commented on #1
@msintuneappsdk  Is there a timeline? I am currently working on a app using this SDK. And we need the latest support package (24.x.x)

[2016-09-26 20:29] msintuneappsdk commented on #1
@trevorwang I do not have a timeline yet for the public SDK release. We may be able to give you a private build. What company do you work for? Is your app an internal line-of-business app for your company? Or will it be publicly released to an app store?

[2016-09-28 01:31] trevorwang commented on #1
It's great if I can get the private build. All my apps are internal app and will be deployed on our Intune env.

[2016-10-05 20:17] msintuneappsdk commented on #1
Hi @trevorwang we should be releasing by the end of the month, does that timeline work for you?

[2016-10-06 01:12] trevorwang commented on #1
Yes. It makes sense if it's released on time.

[2016-10-24 01:11] trevorwang commented on #1
@msintuneappsdk  I have noticed that iOS version and Android wrapping tools has beed updated. When will release this SDK to be upgraded?

[2017-01-12 11:09] jason8232590 opened #2 "java.lang.NullPointerException: Attempt to get length of null array"
Caused by: java.lang.NullPointerException: Attempt to get length of null array
                                                      at com.microsoft.intune.mam.client.app.WrappedAppReflectionUtilsBehaviorImpl.parametersToString(WrappedAppReflectionUtilsBehaviorImpl.java:190)
                                                      at com.microsoft.intune.mam.client.app.WrappedAppReflectionUtilsBehav

[2017-07-19 04:28] Durgaprasad-Budhwani opened #3 "sample app to test Intune SDK functionality"
Hi team,
Can we get sample app to test Intune SDK functionality?

[2017-07-26 09:13] hspoon52 opened #4 "Cannot get MAMEnrollmentManager object"
According to the dev guide, we need to get the MAMEnrollmentManager obj by the following code,
`MAMEnrollmentManager mgr = MAMComponents.get(MAMEnrollmentManager.class); //Always get Null...`

But i always got Null. can i know the reason? am i missing anything?
Is there any sample code to show how MAM SDK work? thx

Code attached.
[code]

[2017-08-11 06:47] hspoon52 commented on #4
Problem fixed with inherit Application class with MAMApplication

[2017-08-11 06:47] #4 closed

[2017-08-30 09:19] trevorwang commented on #1
@msintuneappsdk  What's the plan to support  v7 version of 26

[2017-08-30 18:38] msintuneappsdk commented on #1
Hi Trevor, thanks for reaching out. We should be releasing some Android API 26 support by the end of the month.

[2017-09-14 23:58] billge commented on #3
+1

[2017-09-19 01:51] trevorwang commented on #1
@msintuneappsdk Do you have any progress of API 26 support?

[2017-09-27 07:57] maggix commented on #3
+1

[2017-09-27 07:58] maggix opened #5 "android.content.Context.getSharedPreferences(java.lang.String, int)' on a null object reference"
Hi, is there any working sample on this library? The iOS SDK was integrated just fine, but the Android SDK fails to get the Primary User.
When calling this method:

[code]

The error is:

[code]

All components, libraries, etc. everything is set up according to the tutorial on Microsoft website https://docs.microsoft.com/en-us/intune/app-sdk-android

Thank you

[2017-11-20 09:04] ThomasSHA commented on #3
+1

[2017-12-06 16:08] VicMikhailau opened #7 "Always retrieved Status NOT_LICENSED"
Hi, Team

All components, libraries, etc. everything is set up according to the tutorial on Microsoft website. All users was licensed for use Intune api and etc. But in code always received status NOT_LICENSED:
Received MAM enrollment result for package "package", user 1784086532: NOT_LICENSED

User registered like:

[code]
Logs:

[code]
Thank you!

[2017-12-12 15:53] msintuneappsdk commented on #7
Hi @VicMikhailau, are you still experiencing this issue? Could you send an email to msintuneappsdk@microsoft.com? We will need some additional information from you.

[2017-12-14 11:35] VicMikhailau commented on #7
Hi,

Still experiencing this issue
Sent a email (from vicmikhailau@gmail.com).

Thanks

[2017-12-15 15:08] VicMikhailau opened #8 "MSAL and Intune SDK"
Hello again,

1. It is possible use MSAL authentication instead ADAL (I think not)?
2. In my app used MSAL for other purposes. A received NullPointerException  because in my policy settings in Azure Portal included "Allow app to transfer data to other apps  - None". It happened because MSAL library included authorization through "Google Custom tabs (I think)". Can I exclude MSAL library from this

[2017-12-26 01:41] TakatsuguHirata commented on #3
+1

[2018-02-09 11:49] umarF commented on #3
Seriously this is a must !

[2018-04-13 14:33] rzdebskiy opened #9 "Adding Microsoft.Intune.MAM.Xamarin.Android nuget package to Xamarin Forms Android app fails"
Adding Microsoft.Intune.MAM.Xamarin.Android nuget package to Xamarin Forms Android project fails with the following error:
NU1202: Package Microsoft.Intune.MAM.Xamarin.Android 3.0.3989.3 is not compatible with monoandroid81 (MonoAndroid,Version=v8.1). Package Microsoft.Intune.MAM.Xamarin.Android 3.0.3989.3 supports: net452xamarinandroid10 (net452+Xamarin.Android10,Version=v0.0)
Package restore fai

[2018-05-14 15:22] lmuller14 opened #10 "Cannot include jar files"
Hi,

Can anyone please help with including the jar libraries to Android project? I cannot include any of them. The error is:
`Error:error reading path/to/android/libs/Microsoft.Intune.MAM.SDK.Support.v4.jar; error in opening zip file`
`Error:Execution failed for task ':compileDebugJavaWithJavac'.
 Could not expand ZIP 'path/to/android/libs/Microsoft.Intune.MAM.SDK.Support.v4.jar'.`

I tried severa

[2018-05-21 12:50] #9 closed

[2018-08-01 17:37] msintuneappsdk commented on #3
We have released a sample app for Android using the latest Intune SDK for Android plugin, here: https://github.com/msintuneappsdk/Resource-Requester

[2018-08-01 17:37] #3 closed

[2018-09-11 11:45] dbsheta opened #11 "COMPANY_PORTAL_REQUIRED"
I'm trying out the Taskr demo app by changing client_id to native app in my aad. However, after login is completed, it always gives COMPANY_PORTAL_REQUIRED alert even though company portal is installed in the phone.

Im using Android Studio 3.2, Gradle version: 3.2.0-rc02.
Changed compileSdkVersion and targetSdkVersion to 28 in place of 27.

[2018-09-11 12:28] madhu-aithal commented on #11
I am also facing similar issue.

[2018-09-11 19:57] #11 closed

[2018-09-11 19:58] dbsheta commented on #11
Error because of android:testOnly flag being true by default

[2018-09-12 19:15] dbsheta opened #12 "Androidx support"
Please add androidx support i.e Androidx class and method mappings. We are developing a business critical application using need to use Intune SDK for MAM. We are having issues when using current sdk as it only supports appcompat v4 and v7.

[2018-11-21 13:51] svarnik commented on #7
@VicMikhailau
Hello. Have you resolved this issue?

[2018-12-05 07:36] VicMikhailau commented on #7
Hello, @svarnik
At the time when I was engaged in this project - no

[2018-12-18 08:01] Joesta commented on #7
Hi, i am also getting the same exception. Has anyone be able to resolve this issue?

[2018-12-18 08:12] svarnik commented on #7
@VicMikhailau Thank you for response.
@rravuri123 @Joesta
I have faced this issue even when Intune license was assigned to particular user, that I tested with.

How it started work for me - try to run app in not debug build. Run app as release build (Generate release build and push it via ADB or run it to device as Release build variant). It solved the issue.

[2018-12-21 17:08] rturk opened #13 "Add support for React Native"
Please Add support for React Native based Apps

[2019-01-29 10:07] Antarix opened #14 "Throws error when Firebase Cloud Messaging notification receives"
`java.lang.LinkageError: Method void com.google.firebase.iid.FirebaseInstanceIdReceiver.onReceive(android.content.Context, android.content.Intent) overrides final method in class Lcom/microsoft/intune/mam/client/content/MAMBroadcastReceiver; (declaration of 'com.google.firebase.iid.FirebaseInstanceIdReceiver' appears in /data/app/com.linthub.yesinvest-34Od_Mwoj_3M02jWiDfOtg==/base.apk!classes2.dex

[2019-01-29 15:12] kskumar opened #15 "Not compatible with Android Gradle plugin 3.3.0"
When trying to build an app using Android Gradle plugin v3.3.0 and Gradle v4.10.1, the following error occurs:

`ERROR: class "com.microsoft.intune.mam.MamifyConfiguration_Decorated"'s signer information does not match signer information of other classes in the same package`

The same app compiles fine with Gradle plugin v3.2.1 and Gradle v4.6.

[2019-02-18 02:28] JakeWang123 opened #16 "How to avoid some policies like pin reqired in multprocess"
How to avoid some policies like pin reqired in multprocess

[2019-03-20 16:44] NeilCannon opened #17 "On upgrading to 5.6.0, app crashes on startup"
Nexus 5X, Android 7.1.1
[code]

[2019-04-12 18:12] karunagarajan opened #18 "Unable to get the authentication Callback with application context"
When trying to enroll for mam policies using the ADAL Library cannot enroll it always gives failure.

[2019-05-07 06:33] JakeWang123 opened #19 "crash when start application with 5.6.0 sdk"
05-07 13:13:54.477 16583 16583 I zygote  : Rejecting re-init on previously-failed class java.lang.Class<com.microsoft.intune.mam.client.support.v7.app.MAMAppCompatActivity>: java.lang.LinkageError: Method void com.microsoft.intune.mam.client.support.v7.app.MAMAppCompatActivityBase.onActivityResult(int, int, android.content.Intent) overrides final method in class Lcom/microsoft/intune/mam/client/ap

[2019-05-08 15:36] EarlyWild opened #20 "Release Notes Missing"
When you click on release notes link. I get a 404 page not found error.

[2019-05-08 16:43] msintuneappsdk commented on #20
@EarlyWild Thanks for letting us know. The release notes can be found under 'Releases'. The link to this in the readme.md was incorrect and is now fixed.

[2019-05-08 16:43] #20 closed

[2019-05-10 16:54] joakley-msft commented on #12
Please see https://docs.microsoft.com/en-us/intune/app-sdk-android#androidx-libraries

[2019-05-27 07:02] pallavkumar112 opened #21 "Exception in aquireTokenSilent. Need to do SSO login in android app."
getting exception as
/AuthManager: Exception : Request authority:https://login.microsoftonline.com/common clientid:d59c622f-c25f-4e01-bbd6-62446403b678 No result returned from acquireTokenSilent

I am using taskr Intune sample application for android to achieve SSO login using Company portal app but getting above exception.

Thanks in Advance for your help.
Please let me know if any code snippet i

[2019-05-29 12:23] pallavkumar112 opened #22 "Is there any Intune SDK integrated Android app with SSO login sample app?"
Tried to create SSO login for Android app , following below url  :
https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-mobile-app-registration

Now once i try to login , getting exception as :
Authentication error : the base64 url encoded signature component of the redirect uri does not match the expected value.
Please find the screenshot for the same.

Need help to make SSO l

[2019-05-29 15:55] meghandaly commented on #12
Please see the above link for the SDK documentation regarding the AndroidX libraries.

[2019-05-29 15:55] #12 closed

[2019-05-29 21:11] meghandaly commented on #1
The current SDK supports Android API 19 (Android 4.4+) through Android API 28 (Android 9.0).

[2019-05-29 21:11] #1 closed

[2019-06-07 10:53] tatelang opened #23 "What's new in Intune 5.7.1"
**Describe the bug:**
No details about the New Features and Bug Fixes in Intune 5.7.1 are provided.

[2019-06-11 14:14] msintuneappsdk commented on #23
Thanks for pointing this out. They are now in the process of being updated.

[2019-06-11 14:14] #23 closed

[2019-07-05 13:34] msintuneappsdk commented on #19
Hi @JakeWang123 this issue looks like it was fixed in Intune SDK for Android v. 5.7.1. Let us know if you are still experiencing issues after trying that build.

[2019-07-05 21:00] heidijinxujia commented on #22
Please follow the instruction [here](https://github.com/AzureAD/azure-activedirectory-library-for-android#how-to-use-this-library).
•	Developer needs to register special redirectUri for broker usage. RedirectUri is in the format of msauth://packagename/Base64UrlencodedSignature. **You can get your redirecturi for your app using the script GetBrokerRedirectURI.ps1 on Windows or brokerRedirectPrint.

[2019-07-16 11:49] chaitanya-vanapamala opened #24 "Blocking Screenshots and Screen Recording"
**Description of the bug:**
Our Application need to block all the screenshots and Recording of screen. Activities in **com.microsoft.intune.mam** are not having **FLAG_SECURE** for the Screenshot protection. Shall we expect change in next version?

**Intune App SDK for Android (please complete the following information):**
- What version of the Intune SDK are you using? Are you using the latest ve

[2019-07-31 15:52] tomoiti opened #25 "Firebase Integration"
I followed all steps to integrate Intune to my Android project, but when I start the app I got this error activating Firebase SDK:

 java.lang.RuntimeException: Unable to get provider com.google.firebase.provider.FirebaseInitProvider: java.lang.NullPointerException: Attempt to invoke interface method 'java.lang.Object com.microsoft.intune.mam.client.ComponentsContainer.get(java.lang.Class)' on a n

[2019-08-05 09:32] pallavmitianster opened #26 "Issue with SSO login with Intune SDK integrated native IOS and Android Apps"
Getting exception as
I/AuthManager: Exception : The base64 url encoded signature component of the redirect uri does not match the expected value. Type: com.microsoft.aad.adal.cl

Using Intune SDK and ADAL lib to build intune SDK integrated native Android app and It works fine if we login to app without SSO.
Now Trying to implement SSO login as Microsoft document says in below link:
https://docs.mi

[2019-08-05 09:35] pallavmitianster commented on #26
tagging @msintuneappsdk @aanavath @oydang @aanavath @joakley-msft

[2019-08-05 12:27] cofitz1 commented on #26
Hi @pallavmitianster can you confirm that your redirect URI is configured correctly? https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-v1-enable-sso-android#step-2-establish-a-new-redirect-uri-with-your-url-scheme

[2019-08-05 16:02] tomoiti commented on #25
Still an issue using v6.0.0

[2019-08-05 16:17] msintuneappsdk commented on #13
The Intune SDK development team actively tests and maintains support for apps built with the native Android, iOS (Obj-C, Swift), Xamarin, Xamarin.Forms, and Cordova platforms. While some customers have had success with Intune SDK integration with other platforms such as React Native and NativeScript, we do not provide explicit guidance or plugins for app developers using anything other than our su

[2019-08-05 16:17] #13 closed

[2019-08-06 13:14] pallavmitianster commented on #26
Hi @cofitz1  yes ,I have followed the same link to configure redirect URI . Can you Please check and let me know i can provide all information needed.

Thanks

[2019-08-07 14:06] cofitz1 commented on #26
[code]

It appears that your registered redirect URI does not match the one that is expected from the `msauth://packagename/Base64UrlencodedSignature` format.  Can you verify that you set this up correctly based on your app signature?

If this is not the error the [ADAL](https://github.com/AzureAD/azure-activedirectory-library-for-android#sso-and-conditional-access-support) team may be able to ass

[2019-08-07 14:06] #26 closed

[2019-08-20 06:34] Huawei-yuan commented on #14
How do you solve this problem? thanks

[2019-09-03 04:27] AbhijitParate opened #27 "Difference in App Un-enrollment behavior in iOS and Android"
When un-enrolling the app by calling
[code]
in iOS, method accepts additional flag 'withWipe' but in Android app's data gets wiped forcefully.

Is there any way we can get similar behavior as iOS?
We don't really want to wipe the app's data in Android.

**To Reproduce**
Steps to reproduce the behavior:
- Unenroll Android app by calling above method.
- Notice the crash (possibly due to force wipe o

[2019-09-05 14:30] AbhijitParate commented on #27
@msintuneappsdk

[2019-09-13 18:05] tomoiti commented on #25
Found the issue.

I forgot to change my app to use MAMApplication (this replacement is not done by gradle plugin). It is documented in the integration docs but buried in the middle of a long series of tables that I ignored since they list code replacement that are done automatically for me by the gradle plugin.

Because of that I have two suggestions. First, change documentation to make this step

[2019-09-13 18:05] #25 closed

[2019-10-15 18:23] msintuneappsdk commented on #15
This should be fixed in a version after Intune SDK for Android v. 4.8+

[2019-10-15 18:23] #15 closed

[2019-10-21 09:22] yatochk opened #28 "Always NOT_LICENSED on release build"
SDK setted up according to the guid on https://docs.microsoft.com/en-us/intune/developer/app-sdk-android  and my test user assigned license, but I'm keep receiving status NOT_LICENSED. Also I checked it on release build, but again got NOT_LICENSED.

Code of registration:

[code]

[code]

[2019-10-30 21:15] nilsi commented on #12
@meghandaly @joakley-msft I don't understand how this is supposed to work.

I migrated our project to AndroidX because of other reasons and now most classes are red in Android Studio.

Issues like:

[code]
errors because `this` is not an `androidx.appcompat.app.AppCompatActivity`

My activity extends `MAMAppCompatActivity` that when I inspect uses:

[code]
I have added to the build.gradle:
[code]

[2019-10-30 21:28] nilsi commented on #12
Actually when I look at the taskr app now:

https://github.com/msintuneappsdk/Taskr-Sample-Intune-Android-App/blob/master/app/src/main/java/com/microsoft/intune/samples/taskr/MainActivity.java

The MainActivity inherits directly from AppCompatActivity.

How does that work? I thought I had to wrap every fragment and activity in MAM equivalents to make intune work?

If I can instead use AppCompatAct

[2019-10-31 12:12] joakley-msft commented on #12
Hi @nilsi,

That's correct. The plugin will perform the replacements at build time. See [here](https://docs.microsoft.com/en-us/intune/developer/app-sdk-android#build-tooling) for more information.

[2019-10-31 14:06] nilsi commented on #12
Thank you for the confirmation. Just one quick question.

So if I use AndroidX for everything in my app I don't need to include any of the following files?

Microsoft.Intune.MAM.SDK.Support.v4
Microsoft.Intune.MAM.SDK.Support.v7
Microsoft.Intune.MAM.SDK.Support.v17
Microsoft.Intune.MAM.SDK.Support.Text.jar

And the only thing that I need to add is

intunemam {
    includeExternalLibraries = ["andr

[2019-10-31 14:09] joakley-msft commented on #12
Yes, that's correct. Some steps for testing that policy is applying correctly are documented [here](https://docs.microsoft.com/en-us/intune/developer/app-sdk-android-testing-guide).

If the third-party libraries are being Jetified to convert them to AndroidX, the legacy support jars will still be unnecessary.

[2019-11-13 12:34] mukulhase opened #29 "Link to "Gradle Plugin Instructions" is dead"
**Describe the bug:**
Documentation issue: Link to "Gradle Plugin Instructions" is dead

**To Reproduce**
Steps to reproduce the behavior:
1. View Readme.md

**Expected behavior:**
Link shouldn't be dead.

[2019-11-13 14:37] msintuneappsdk commented on #29
Hi @mukulhase,

Previously, we had the gradle plugin instructions in the GitHub repository *only* and not within our Intune Docs. This is the set of gradle plugin instructions you can refer to: https://docs.microsoft.com/en-us/intune/developer/app-sdk-android#gradle-build-plugin

We can edit the readme.md file to remove the dead link. Thanks for bringing it to our attention.

[2019-11-13 14:37] #29 closed

[2019-11-13 14:40] msintuneappsdk commented on #22
Closing this issue since we have worked with the team offline.

[2019-11-13 14:40] #22 closed

[2019-11-14 11:17] chaitanya-vanapamala opened #30 "Could not build the app : Mamification failed"
**Describe the bug:**
Could not generate the build. It is printing the Following error while mamifycation.

**Screenshots and logs:**
Mamification failed: a (ILandroid/content/Intent;)V in com.tencent.android.tpush.XGPushActivity: inconsistent stack height -1
javassist.CannotCompileException: a (ILandroid/content/Intent;)V in com.tencent.android.tpush.XGPushActivity: inconsistent stack height -1

[2019-11-14 12:24] chaitanya-vanapamala commented on #30
Issue because of gradle:3.5.2, changed to gradle:3.4.2, and it started working.

[2019-11-14 12:24] #30 closed

[2019-11-15 10:46] chaitanya-vanapamala opened #31 "Automatically enrolling after un enrollment in tablets"
**Describe the bug:**
After completion of unenrollment, with in few seconds app is enrolling to same account automatically in Tablet devices. Where as it is not enrolling automatically in Mobile Devices.

**To Reproduce**
Steps to reproduce the behavior:
1. Initiate unenroll
2. perform any action
3. After 30 Seconds Device will be enrolled.

**Expected behavior:**
Device should not enroll automati

[2019-12-05 09:54] AbhijitParate commented on #19
Experiencing this issue with AndroidX libraries.

[2019-12-05 12:01] AbhijitParate commented on #19
@JakeWang123 Were you able to fix the crash?

[2019-12-16 15:23] cabanasn opened #32 "Gradle Sync Error when combining with Realm Latest Version"
**Describe the bug:**
I need to update the version of Realm DB to the latest because of a security vulnerability. When doing so, as soon as I try to sync the gradle plugin I get an error on **com.microsoft.intune.mam.MamifyConfiguration**

**Screenshots and logs:**
![Screen Shot 2019-12-16 at 12 22 21 PM](https://user-images.githubusercontent.com/7597858/70919001-c970f980-1ffe-11ea-8c6f-10435a83a6

[2019-12-16 18:05] cabanasn commented on #32
I think the problem is that the Realm library uses **javassist** v3.25.0-GA and the current mam gradle script crashes when setting that version. Are there any plans to support that version?

[2020-01-16 06:27] Sicmatr1x opened #33 "Need login twice for Intune and internal APP"
Hello, our company's APP is provided by Intune for internal employees of the company. After logging in through the Intune, download and install, but the employees report that they need to log in twice on the Intune and our internal used app during the use process. Ask if there are any login authorization schemes that can simplify this operation?
Login the Intune and our internal APP both used offi

[2020-01-16 18:10] msintuneappsdk commented on #33
Two questions.

  1.  What are the two logins?  Is the first to get MAM policy and the second to logging into your service?
  2.  Did you wrap your app or build in the SDK?

From: Sicmatr1x <notifications@github.com>
Sent: Thursday, January 16, 2020 1:28 AM
To: msintuneappsdk/ms-intune-app-sdk-android <ms-intune-app-sdk-android@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Sub

[2020-01-17 05:28] Sicmatr1x commented on #33
The user workflow is:
1. Download Intune APP
2. Login into Intune
3. Download internal APP in Application
4. Open internal APP
5. Alert login page and title is microsoft(For one device if login in one internal APP, others will skip this step)
6. Login internal APP

For the step 2: when user write company's employee email will redirect to our organization login page

Yes, we use Wrapping Tool to wr

[2020-01-17 16:52] msintuneappsdk commented on #33
Thanks for the info.  Right now, Intune is being called with a default AAD client ID in our wrapper.  You can change that to use your AAD client in the wrapper.  There are a couple of steps you need to do for this.

  1.  Update the AndroidManifest.XML before wrapping following these instructions<https://docs.microsoft.com/en-us/intune/developer/app-sdk-android#configure-azure-active-directory-aut

[2020-01-28 09:27] AbhijitParate commented on #31
Try
[code]

[2020-01-28 09:30] AbhijitParate commented on #27
Must register for MAMNotificationType.WIPE_USER_DATA notifications.

[2020-01-28 14:04] #27 closed

[2020-02-03 12:25] chaitanya-vanapamala opened #34 "Can not enroll user untill app's storage is clear when policies are removed and added"
**Describe the bug:**
Could not enroll the application when the policies are removed for the first time and added from the next time. We are able to enroll only after clearing the storage of application and trying enrollment.

**To Reproduce**
Steps to reproduce the behavior:
1. Remove the policies for the user in azure intune portal
2. Try enrolling app
3. You will get NOT_LICENSED, which is desi

[2020-02-10 06:18] chaitanya-vanapamala commented on #31
@AbhijitParate , it didn't work.

[2020-02-10 06:19] chaitanya-vanapamala commented on #31
@AbhijitParate , it didn't work.

[2020-02-15 00:15] EarlyWild commented on #32
I am having the same error.

[2020-02-18 17:21] EarlyWild commented on #19
**I am also encountering this issue.
- Using AndroidX library
- SDK version 6.3.0
- App is written completely in Kotlin
- App runs fine without the Company Portal installed
- With Company Portal installed, app ANRs on launch.**

2020-02-18 12:06:43.154 9344-9344/com.myapp.droid.phone.intune I/zygote64: Rejecting re-init on previously-failed class java.lang.Class<androidx.core.view.ViewCompat$2>: j

[2020-02-25 16:42] EarlyWild opened #35 "App ANRs when InTune Company Portal is installed"
I am working on rebuilding an old project, updating it to use the newest tools from Google. It has been completely written in Kotlin. I have installed the SDK as per the developers guide (using MAM gradle plugin). When I install our app onto a device WITHOUT inTune Company Portal App, the app launches and functions fine... WITH inTune Company Portal installed, the our app ANRs on launch. There is

[2020-03-05 09:33] chaitanya-vanapamala opened #36 "Login Credentials are asked always to get MAM Policies."
**Describe the bug:**
Azure Login credentials are being prompted always which acquiring token, when when Prompt behavior set to Auto.

**Steps to Reproduce**
1. Enroll the Application with MAM by login to Azure account.
2. Unenroll the user.
3. Try enroll again.

At step 3 in iOS app credentials are not asked with the same user who logged in at 1st step. This is different in Android.

**Intune App

[2020-05-14 12:21] bjartebore opened #37 "app crashes when running unregisterAccountForMAM"
**Describe the bug:**
When I unregister my account with unregisterAccountForMAM() the application crashes from what I do believe is from a background service (WorkplaceJoinManagerService).

**To Reproduce**

* do a successful enrollement with: MAMComponents.get(MAMEnrollmentManager.class).registerAccountForMAM(...)
* run: MAMComponents.get(MAMEnrollmentManager.class).unregisterAccountForMAM("my.us

[2020-05-14 15:43] GoncaloJoaoCorreia opened #38 "Cannot build app using the gradle plugin - NPE crash"
I'm trying to integrate the intune sdk into an app, following the steps documented [here](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-android), and using the sample project as a reference.

However, I'm getting the following error when attempting to build the app (assembleDebug gradle task).

[code]

I'm using a separate flavor of the app to test, called 'mdm', which you can see

[2020-05-14 18:42] bjartebore opened #39 "Question: trigger set pincode"
Not sure if this is the right place to ask this, but is there a way to trigger the set pin-code activity manually after the app i successfully enrolled? It seems to me that this only shows the next time I start the application after enrollement and that user flow seems a bit weird to me.

[2020-05-15 06:08] bjartebore commented on #37
It seems like my issue is related to the default WIPE_USER_DATA event running after unregisterAccountForMAM, implementing the notification receiver manually seems to resolve my issue. Closing the issue

[2020-05-15 06:08] #37 closed

[2020-05-19 15:17] mathroule opened #40 "Make Intune Android SDK available on a Maven repository"
Hi

To make developer life easier it would be nice to have the Intune SDK published on Maven repository. Like that i's far more easier to update when a new release is available.

Thanks

[2020-05-20 06:13] scarrilho commented on #8
Hi,
Any updates on this? I mean, does the Android Intune SDK support MSAL?

Release 6.3.0 (https://github.com/msintuneappsdk/ms-intune-app-sdk-android/releases/tag/6.3.0) mentions "App developers wishing to use Microsoft Authentication Library (MSAL) should be using this version of the Intune SDK for Android at minimum." . Does it mean that unofficially MSAL works?

I checked that iOS SDK supports

[2020-06-09 16:44] GoncaloJoaoCorreia commented on #38
Figured out what was wrong, in our case we were using a library (gson) that had been compiled with Java 9, and that was causing this error. Our temporary solution was to downgrade the lib version to one that was still compiled with Java 8, but this is, at best, a workaround. I don't know why this influences the behavior of the plugin, but it should be fixed.

Also, the error messages could really

[2020-06-11 08:10] viveknegi51288 commented on #8
@VicMikhailau @scarrilho  DId you get any solution ?

[2020-06-16 15:06] MariusVolkhart opened #41 "MAMJobSchedulerHelper throws IllegalArgumentException"
**Describe the bug:**
When using v6.5.3 of the SDK, our app sees errors logged from the MAM SDK.

[code]

It is clear to me that MAM expects me to configure my `AndroidManifest.xml` to support this service, but the service is undocumented, and this expectation is undocumented. Developers should not be expected to reverse engineer SDK requirements.

**Expected behavior:**
At a minimum, I expect the

[2020-06-16 15:30] MariusVolkhart opened #42 "Crash from JNI in MAMAppConfigBase.getFullData"
**Describe the bug:**
When calling `MAMAppConfig.getFullData()`, the application crashes with a JNI error from inside the MAM SDK.

[code]

**To Reproduce**
[code]

**Expected behavior:**
I expect for `all` to contain a Map of the configuration key/value pairs.

**Smartphone (please complete the following information):**
 - Device: Emulator x86
 - OS: Android

**Intune App SDK for Android (please

[2020-06-19 06:48] trifist opened #43 "Is Intune SDK for Android support MSAL?"
Hi team,
I want to integrate Intune MAM functions to my apps and read the official documentation. It says that I have to integrate ADAL first to acquire tokens for Intune SDK. However, when I read the docs for ADAL, it told me not to use ADAL anymore, using MSAL instead. I'm a little confused about that, which one should I use? The samples here do use ADAL, should I follow that?
Sample: https://gi

[2020-06-19 10:51] msintuneappsdk commented on #43
We do support MSAL.  We have not updated our sample applications yet.

From: trifist <notifications@github.com>
Sent: Friday, June 19, 2020 2:49 AM
To: msintuneappsdk/ms-intune-app-sdk-android <ms-intune-app-sdk-android@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [msintuneappsdk/ms-intune-app-sdk-android] Is Intune SDK for Android support MSAL? (#43)

Hi team,
I wan

[2020-06-26 20:12] MariusVolkhart commented on #41
We're seeing error messages coming from `MAMBackgroundService` as well. Looks like another undocumented service that needs to be exported?

[2020-06-29 15:03] MariusVolkhart commented on #41
[code]
seems to be sufficient for the `MAMBackgroundJobService`, but we don't know the permissions required for the `MAMBackgroundService`. This `Service` seems to be used on API 23 (Android 6).

[2020-06-29 15:38] MariusVolkhart commented on #41
We were looking only in the Core JAR and did not see the AAR. Have since found the AAR and the included `AndroidManifest`. Going to echo #40 and say that having this lib published somewhere, even on GitHub or Azure DevOps and consuming via a regular maven dependency would have saved us a lot of time.

[2020-06-29 15:38] #41 closed

[2020-07-07 09:39] phs09010423 opened #44 "Cannot build library module using the gradle plugin"
**Describe the bug:**
I'm getting the following error when using mam plugin in library module

**To Reproduce**
1. make a sub module
2. add mam plugin in module gradle
    plugins {
        id 'com.android.library'
        id 'com.microsoft.intune.mam'
    }

**Screenshots and logs:**
Error Log : Transforms with scopes '[SUB_PROJECTS]' cannot be applied to library projects.

**Intune App SDK for A

[2020-07-31 12:15] Matthias-Hager commented on #43
Hi,
We are also working on integrating the Intune SDK to our app and want to know how to do this with MSAL. When can we expect the documentation and sample apps being available?

Regards Matthias Hager

[2020-08-04 18:05] mathroule commented on #38
I hit the same issue using Gson in version 2.8.6. Downgrading to version 2.8.5 solve the issue.

Indeed the issue is related with Java 9 compiled library (https://github.com/google/gson/blob/master/CHANGELOG.md#version-286). But MAM SDK version 6.7.0 is supposed to support Java 9 compiled code (https://github.com/msintuneappsdk/ms-intune-app-sdk-android/releases/tag/6.7.0).

[2020-08-07 13:04] Innova133 commented on #38
Just adding a "me too" comment.   Thanks for posting the solution (although it would be nice to be able to use the latest versions of libraries.)

[2020-08-18 11:50] navjyot opened #45 "Not able to hit external API because automatically hit auth2 url"
We have integrated the In-tune SDK but when we try to hit our server API that will automatically redirect on authority URL,even user is validated from company portal while launching the app.

[2020-08-21 05:04] anmit14 opened #46 "Crashes in ToDo android app"
Sudden crashes in ToDo android [beta](url) app (version: 7788).
Below are the attachments:
1. Errors snapshot
![crash](https://user-images.githubusercontent.com/63837157/90854204-f8afe580-e399-11ea-9ac6-c0f00c80b41c.PNG)

2. Crash report for one of the error instance
![report](https://user-images.githubusercontent.com/63837157/90854218-006f8a00-e39a-11ea-9bf2-7cd7913e98ac.PNG)

**Stacktrace**
Caus

[2020-08-21 05:06] anmit14 commented on #46
![report](https://user-images.githubusercontent.com/63837157/90854251-19783b00-e39a-11ea-939a-34a29d5f3360.PNG)
![crash](https://user-images.githubusercontent.com/63837157/90854254-1aa96800-e39a-11ea-915e-0a699bbdba65.PNG)

[2020-08-24 12:15] navjyot commented on #45
@msintuneappsdk @oydang @joakley-msft @anavathe Did you guys face same issue while integrating the in-tune SDK  in LOB app.

We have integrated the In-tune SDK but when we try to hit our server API that will automatically redirect on authority URL,even user is validated from company portal while launching the app.

[2020-08-24 12:17] navjyot commented on #43
You can refer below document for MSAL.

https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-android

[2020-08-25 13:59] Innova133 opened #47 "Receiving NOT_LICENSED when doing app enrollment"
We are unable to successfully register our LOB app for App Protection Policy.   We consistently receive NOT_LICENSED.
I have tried in both debug and release, so this isn't the same as [Issue #7](https://github.com/msintuneappsdk/ms-intune-app-sdk-android/issues/7).   I also looked at [Issue #28](https://github.com/msintuneappsdk/ms-intune-app-sdk-android/issues/28), and didn't see any resolution t

[2020-08-27 13:01] Innova133 commented on #47
After changing a lot of things, we did get it to work...in the acquire token method we needed to return a token with the "https://msmamservice.application.app/DeviceManagementManagedApps.ReadWrite" scope.  I did think that I had tried that previously, but I must have had something wrong at that point.  It seems to be working now.

[2020-08-27 13:12] Innova133 opened #48 "How to create Device Registration for LOB app"
**Describe the bug:**
When we authenticate via MSAL and then register our LOB app for MAM enrollment ```enrollmentManager.registerAccountForMAM(...)```, we never get the screen that asks the user to register their device.

[Device Registration Screen](https://i.imgur.com/w3jSvC2.jpg)

We do see this screen when the user authenticates to Microsoft developed apps (ie, Outlook).

This is an issue bec

[2020-08-28 07:47] pavanbuzz commented on #48
Our application uses [Default enrollment](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-android#default-enrollment-optional).
We experienced a scenario where the user does not have any of the Microsoft apps like Outlook or Teams. They installed our LOB app from Company portal. Our LOB app can successfully enroll the MAM user. However, when our applications uses MSAL to  acquire tok

[2020-09-04 03:02] fongja opened #49 "APP-WE Policy didn't apply after registerAccountForMAM called."
We are integrating our LOB app with Intune APP-WE. After we successfully acquire token from ADAL. We call registerAccountForMAM to register MAM and acquire APP-WE policy. The policy is then being downloaded and the status of enrollment is success.

However the policy didn't apply immediately. It didn't prompt user to set PIN that required in the policy.

When will the policy apply after being down

[2020-09-09 18:45] cabanasn opened #50 "java.lang.AssertionError: Attempt to access uninitialized OfflineComponents"
I'm trying to migrate my Kotlin app to Android X and the app is crashing at startup because it is unable to initialize OfflineComponents.

App crashes in the following line:
`val mgr = MAMComponents.get(MAMEnrollmentManager::class.java)`

**Screenshots and logs:**
![Screen Shot 2020-09-09 at 15 43 56](https://user-images.githubusercontent.com/7597858/92640169-46da4980-f2b3-11ea-91bd-f5addf4bc24b.p

[2020-09-10 12:53] bjartebore opened #51 "no reply from msintuneappsdk at microsoft.com"
I have tried as stated in the documentation to send a note about the ClientId we use to msintuneappsdk at microsoft.com as stated in the documentation:
https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-get-started#next-steps-after-integration

I have not gotten any reply on this, is there any other way of registering this clientid for use with MAM?

[2020-09-14 15:38] ChristopheBernardAfelio opened #52 "MAMComponents.GetUserInfo().PrimaryUser; // Exception is thrown"
Hello everyone,

We are developing an android native android app for one of our clients.
We had been using Intune SDK (with the gradle plugin) to get the connected user email ont their company phones (fully managed).

For android 10, our client have since decided to migrate from intune app provisioning to play store android enterprise deployment and this is when did not received the user any more.

[2020-09-18 15:13] fredericojssilva commented on #38
Just an update. **SDK v 7.0.1** seems to be fixed this issue!

[2020-09-18 15:23] harikrishnagit opened #53 "Manifest merge build error with version 7.0"
**Describe the bug:**
Missing 'package' key attribute on element package at [:Microsoft.Intune.MAM.SDK] AndroidManifest.xml:19:9-77

**To Reproduce**
Steps to reproduce the behavior:
1. Follow Microsoft Intune App SDK for Android developer guide to integrate Referencing Intune App

2. Add Microsoft.Intune.MAM.SDK.aar module
2. Add Module dependency
3. Gradle build
4. Merge manifest throws "Missing

[2020-09-23 23:44] pavanbuzz commented on #53
Our project has the same issue with the latest version of SDK

[2020-09-24 12:31] harikrishnagit commented on #53
I used version 6.7, and that solved the issue.

[2020-10-06 15:40] #39 closed

[2020-10-09 08:56] pa-y-omura opened #54 "【Please answer immediately】An error will occur in the build"
Currently an error has occurred and the build cannot be performed.

### Error Contents

[code]

### Code Written

##### Project: build.gradle
[code]

##### App: build.gradle
[code]

### Android Studio Version
[code]

### Gradle Version
[code]

### Gradle Plugin Version
[code]

### SDK Version
[code]

### Intune SDK Version
[code]

### My App Info
[code]

### Corresponding
I put `com.microsoft.intu

[2020-10-28 06:55] sumitsahoo opened #55 "Unable to access voice to text service with Intune SDK integrated"
**Describe the bug:**
We have an app which has Intune integrated and has ADAL libraries and it can not access any voice service. Is this a bug ? Once we remove `Microsoft.Intune.MAM.SDK.aar` it starts to work again. The project is in React Native but Intune is integrated natively. For voice input we are using `https://github.com/react-native-voice/voice` library.

[code]

**To Reproduce**
Integrat

[2020-11-02 10:22] shanmugpriyan306 opened #56 "Duplicate Class found"
Not able to build & run the project after adding intune sdk & microsoft.identity dependency
`implementation files('MAMSDK/Microsoft.Intune.MAM.SDK.aar')
  implementation 'com.microsoft.identity.client:msal:1.5.5'`

**Expected behavior:**
Project should build and run with any error.

**Screenshots and logs:**
I am getting below error logs when build is getting failed.
Duplicate class com.microsoft.

[2020-11-25 12:38] mohit1993 commented on #7
I have faced this issue even when Intune license was assigned to particular user, that I tested with.

Even with signed apks(release build)

[2020-11-30 12:27] staticvoid7 commented on #43
[Taskr-Sample-Intune-Android-App](https://github.com/msintuneappsdk/Taskr-Sample-Intune-Android-App) has been updated and uses MSAL since version 2.0.

[2020-11-30 13:03] staticvoid7 commented on #8
[Taskr-Sample-Intune-Android-App](https://github.com/msintuneappsdk/Taskr-Sample-Intune-Android-App) has been updated and uses MSAL since version 2.0.

[2020-11-30 16:35] staticvoid7 opened #57 "File created in public storage is encrypted"
We integrated the Android Intune SDK into our Android app. The Intune SDK version is 7.0.1.

The app protection policy value "Encrypt org data" is set to "Require". And the value "Encrypt org data on enrolled devices" is also set to "Require".

In our app we show a "save as" dialog using the [Android Storage Access Framework](https://developer.android.com/training/data-storage/shared/documents-fil

[2020-12-03 12:06] jarnakantaria-gep opened #58 "MS Intunes integration for React Native and client impact"
Before moving to the integration of MS Intunes on mobile, we have a few queries.
Ours is a react native application that is already live on both google play store and app store.

It is possible that some of our clients might be using Azure AD, while others might not.
a) Will login of non-azure clients be affected adversely?
b) Is it possible to switch off the feature for certain clients even with

[2020-12-08 06:44] jarnakantaria-gep commented on #58
Hi,

Awaiting your response. This has come up as a new requirement from client and we have to provide timelines urgently. Please help us with quick revert.

[2020-12-10 21:21] #51 closed

[2020-12-14 21:01] bblia opened #59 "Data Transfer Exemptions/ContentProviders not functioning as expected"
We are unable to query content provider from Android Dialer unless Data Protection for "Send Org Data to Other Apps" is set to "All Apps". Exemptions are not working.

Our application is set up as a content provider for the Android Dialer to query caller ID matches against our app's directory of contact information. Based on the documentation [here](https://docs.microsoft.com/en-us/mem/intune/apps

[2020-12-17 13:06] princejain-gep commented on #58
Hi,

Awaiting your response. We need to provide timeline for Client .
Please reply quickly.

[2020-12-21 03:12] yuzhiqiang1993 commented on #19
I also met this problem, is there any way to solve it?

[2020-12-21 07:02] annkiitagrawaal-gep commented on #58
Hi,

This is a very critical ask for us. We need your assistance to answer some important questions.

[2021-02-26 14:53] dexpota opened #60 "Intune Gradle plugin and Gradle cache"
**Describe the bug:**
Intune Gradle plugin does not work well together with Gradle cache enabled. A deleted instrumentation test is still compiled and executed on the emulator when [Gradle caching](https://docs.gradle.org/current/userguide/build_cache.html) is enabled. Neither "Clean Project" nor "Invalidate Caches and Restart" fix the issue.

**To Reproduce**
1. Create a new Android project;
2. S

[2021-03-09 13:13] shanmugpriyan306 commented on #47
Hi @Innova133  Did you get solution for this issue. I am also facing same issue.

[2021-03-09 13:14] shanmugpriyan306 commented on #28
Any update on this issue.

[2021-03-09 17:25] Innova133 commented on #47
https://github.com/msintuneappsdk/ms-intune-app-sdk-android/issues/47#issuecomment-681933657

[2021-03-25 20:33] knmueller opened #61 "App Protection Policy UI not shown"
**Describe the bug:**
The App Protection Policy UI is not always shown the first launch of the app. I am able to repro this only when the app is first launched *without* the Company Portal App installed.

The "Go to Store" fragment pops up, which takes you directly to the Android app store to install the Company Portal App. Once installed, kill the app with the Intune SDK and re-open. The App Prot

[2021-03-25 22:11] weiyin commented on #53
I am also having this problem with the latest version 7.2.2.

[2021-03-31 09:15] dandamoodi commented on #56
even I am facing the same issue. Any resolution?

[2021-04-05 10:19] shanmugpriyan306 commented on #47
@Innova133  have you used ADAL or MSAL. I am using ADAL

[2021-04-05 13:55] Innova133 commented on #47
We are using MSAL...which is Microsoft's recommendation.

[2021-04-05 17:29] RamitPahwa opened #62 "First Time Company Portal Installed Issue"
**Describe the bug:**
The issue arises when we start the enrolment in client application, but don't have the company portal installed upon which we receive a Notification in `MAMEnrollmentNotification` as `COMPANY_PORTAL_REQUIRED.upon` which we see the dialog which prompts us to install Company portal application ( by clicking on the **Go to Store**) (We call `unregisterAccountForMAM()`). We proce

[2021-04-06 12:16] Hristiqnvelqkov opened #63 "MAM Strict Mode check NON_INTEGRATED_ACTIVITY_LAUNCH failed"
Integrate Intune SDK
Enable MamStrictMode -> MAMStrictMode.enable()
Result -> MAM Strict Mode check NON_INTEGRATED_ACTIVITY_LAUNCH failed. Activity com.flowscape.atlas.launcher.LaunchActivity is not MAM-integrated and not excluded.

I cannot understand what this mean, I can't find anything in docs

*

[2021-04-07 16:45] ClaudioConsolmagno commented on #27
Thanks that was helpful, was having the same issue and couldn't figure out why until I came across this. Solution:
[code]

Documentation link: https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-android#types-of-notifications

[2021-04-08 16:31] shanmugpriyan306 commented on #7
@mohit1993 @svarnik @Joesta @msintuneappsdk @VicMikhailau I am facing the same issue.

@svarnik I tried the way you mentioned. But no luck.
Below is the log:

[code]

The user account which I tried is having **valid Intune license**.

For note: We stick to use ADAL because of backend support.

[2021-04-08 16:44] shanmugpriyan306 commented on #28
@yatochk  did you got working?
Could you please the fix, if you have it?

[2021-04-08 16:47] shanmugpriyan306 commented on #34
@chaitanya-vanapamala did you got it working?

Could you please if you have fix. I am facing similar NOT_LICENSED issue.

[2021-04-09 10:26] ClaudioConsolmagno commented on #49
I am also trying to figure out the same information. @fongja have you ever found out?

[2021-04-09 15:50] svarnik commented on #7
@shanmugpriyan306 i see.
Only that change helped us to make it work. Signed apk and launch release build.
Now I don't remember all other details.. try to check is app/intune policy/license are assigned to related user group.
otherwise contact with them directly: msintuneappsdk@microsoft.com

[2021-04-09 18:19] tulika17 opened #64 "not able to access calendar via intune integrated APP"
**Describe the bug:**
I am working on app that is used by office employees where they can see calendar meetings also. I integrated the Intune SDK into my App and policies has been successfully imported into the device.for eg: I can't copy/paste from my App now , it asked to set a PIN etc. this clearly shows that policies are imported properly.

I am calling office 365 api to access the calendar of

[2021-04-13 07:41] tulika17 commented on #64
I am waiting for the solution

[2021-04-21 12:10] joakley-msft commented on #62
Ramit and I have been discussing by email, closing here.

[2021-04-21 12:10] #62 closed

[2021-04-21 14:42] knmueller commented on #62
@joakley-msft Was there a solution to this?

[2021-04-30 06:38] wobo-swati opened #65 "How to make unified login flow to the mobile app."
Hi,

I'm not sure this is correct place to ask, but I'm looking for a solution for a problem we are facing.
In my app, which has it's own authentication flow to login the users and this is done using SSO. Some vendors of our app use Microsoft corporate accounts for SSO login. Now one vendor is asking us to integrate the MS Intune in the app so that they can apply the policy which they create for t

[2021-05-14 08:20] maphongba008 commented on #53
Hi there, any solution or work around? I'm stuck with it for days

[2021-05-14 09:21] maphongba008 commented on #53
Upgrade to gradle 4.x solved this issue

[2021-05-18 04:27] PREric opened #66 "Plugin [id: 'com.microsoft.intune.mam'] was not found"
--stacktrace:

`FAILURE: Build failed with an exception.

* Where:
Build file '/Users/ericho/Documents/project/raptor-android/app/build.gradle' line: 16

* What went wrong:
Plugin [id: 'com.microsoft.intune.mam'] was not found in any of the following sources:

- Gradle Core Plugins (plugin is not in 'org.gradle' namespace)
- Plugin Repositories (plugin dependency must include a version number for

[2021-05-18 09:10] PREric opened #67 "Execution failed for task ':app:transformClassesWithMamifyTransformForDevDebug'. > java.lang.NullPointerException (no error message)"
URGENT!!!!
Keep having
[code]

Build.gradle
[code]
[code]

for transforming different classes

[2021-05-18 09:11] #66 closed

[2021-05-20 04:01] PREric commented on #38
having the same problem...

Gosh, Microsoft team please fix this and be responsive to problems!

[2021-05-20 20:54] fredericojssilva opened #68 "Execution failed for task ':mobile:transformClassesWithMamifyTransformForDebug'. class androidx.work.impl.background.systemalarm.SystemAlarmService overrides final method com.microsoft.intune.mam.client.app.MAMService.onStartCommand"
**Describe the bug:**
After update to gradle 4.2.X start getting:
[code]

**To Reproduce**

1. Update to gradle 4.2.1
2. Compile

**Expected behavior:**
It works

**Intune App SDK for Android:**
- What version of the Intune SDK are you using? Are you using the latest version? **SDK 7.2.2**
- What platform is your app based in (Java, Xamarin based, Cordova, etc)? **Java/Kotlin**
- For errors during

[2021-05-20 22:20] jschear opened #69 "Gradle plugin doesn't rewrite androidx.* classes after upgrading to AGP 4.2.0"
**Describe the bug:**
After upgrading our build to use version 4.2.0 of the Android Gradle Plugin, many fewer classes are rewritten by the "mamify" transformation. Before the upgrade, 385 classes were rewritten; after, only 65 are.

In the logs for the `transformClassesWithMamifyTransformFor<variant>` task, I noticed this warning:
[code]
... which I believe is pointing to a bug in the plugin, beca

[2021-05-25 05:11] maphongba008 opened #70 "Failed to get current file encryption key because this app is not trusted. Crash on start up."
**Describe the bug:**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Integrate Intune SDK
2. Run the app in debug mode

**Screenshots and logs:**

[code]

**Smartphone (please complete the following information):**
- Emulator

**Intune App SDK for Android (please complete the following information):**
7.0.1

[2021-05-25 06:29] maphongba008 commented on #70
add signing configs for debug mode resolved the issue.

[2021-05-25 06:29] #70 closed

[2021-05-27 17:31] ianbby commented on #53
https://android-developers.googleblog.com/2020/07/preparing-your-build-for-package-visibility-in-android-11.html for future context

[2021-05-27 17:33] ianbby commented on #7
For anyone hitting this, there was an Intune certificate rotation that requires updating to the latest SDK. If you don't you experience NOT_LICENSED errors that are actually network / SSL errors. https://techcommunity.microsoft.com/t5/intune-customer-success/intune-certificate-updates-action-may-be-required-for-continued/ba-p/1839655

Update the Intune SDK to 7.0+ and you're set..

[2021-05-27 17:36] ianbby commented on #28
For anyone hitting this, there was an Intune certificate rotation that requires updating to the latest SDK. If you don't you experience NOT_LICENSED errors that are actually network / SSL errors. https://techcommunity.microsoft.com/t5/intune-customer-success/intune-certificate-updates-action-may-be-required-for-continued/ba-p/1839655

Update the Intune SDK to 7.0+ and you're set..

[2021-05-30 01:31] snijsure commented on #69
I switched to gradle-7.0.2 from 6.5.1 and Android Gradle plugin 4.1.3 to 4.2.0. m"Espresso" test shown below, fails, when using the latest version of the MAM library.

[code]

[2021-05-31 14:57] snijsure commented on #69
Hmm, this could be because gradle 7.0 requires us to use android gradle plugin 7.0.0-beta03 (or whichever is the latest?)

[2021-06-03 15:56] jschear commented on #40
+1 to publishing to a Maven repo. It looks like other Microsoft Android SDKs are published to Maven Central: https://mvnrepository.com/artifact/com.microsoft.identity.client/msal/2.0.12

Publishing the AAR and Gradle Plugin JAR to a Github repo like this means we have to upload them to an internal Maven repo, or check them into version control, neither of which is ideal. 🙇

[2021-06-04 14:40] staticvoid7 commented on #68
I am getting the same error building the project.

    FAILURE: Build failed with an exception.

    * What went wrong:
    Execution failed for task ':app:transformClassesWithMamifyTransformForDebug'.

Do you need more information to fix this?

[2021-06-09 13:50] yvan-botella commented on #68
Hi, we got exactly the same issue here too
Any news about it ?

[2021-06-17 08:10] MathieuCalba commented on #50
Hello, I had the same issue with the same crash report, it disappeared later, and now it happens again.
Is there any information about what is happening here?

**Intune App SDK for Android (please complete the following information):**

- What version of the Intune SDK are you using? Are you using the latest version? 7.2.2
- What platform is your app based in (Java, Xamarin based, Cordova, etc)? K

[2021-06-17 10:12] sameepsharma commented on #50
Hello did you guys figure out the problem?

[2021-06-17 12:47] fredericojssilva commented on #68
`includeExternalLibraries = ["androidx.*"]`

Remove androidx from includeExternalLibraries seems to workaround the issue

[2021-06-18 08:45] staticvoid7 commented on #68
intunemam {
        includeExternalLibraries = ['androidx.*']
    }

We already have that configuration in our build.gradle. It is the default. Nonetheless we are getting the error.

[2021-06-18 09:56] fredericojssilva commented on #68
@staticvoid7 I meant remove that configuration. Anyway, still don't know what it will affect, but going with this until its fixed on the sdk.

[2021-06-18 10:51] staticvoid7 commented on #68
At the moment our workaround is to use the old gradle 4.1.2.

[2021-06-24 08:38] MathieuCalba commented on #50
@sameepsharma nope, it seems to be depending on how I build me app, if it is from the CLI, I have the error, while from Android Studio it works, which is bananas…

[2021-06-24 08:40] MathieuCalba commented on #68
Hello @fredericojssilva, removing `androidx.*` from `includeExternalLibraries` is not an option as this means Intune won’t intercept these classes.

[2021-06-24 08:42] MathieuCalba commented on #68
It seems that `includeExternalLibraries` with the new version 7.6.0 of Intune plugin& SDK:

https://github.com/msintuneappsdk/ms-intune-app-sdk-android/releases/tag/7.6.0

[2021-07-05 13:12] SowmyaAnand opened #71 "Even through I write this in build classpath files("app/MAMSDK/com.microsoft.intune.mam.build.jar") still i get com.microsoft.intune.mam.build as not found. Kindly help"
**Describe the bug:**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**
A clear and concise description of what you expected to happen.

**Screenshots and logs:**
- If applicable, add screenshots to help explain your problem.
- If your app is experien

[2021-07-16 14:55] yaroslavPiskun commented on #19
I also met this problem, is there any way to solve it?

[2021-07-16 16:21] joshbohls commented on #69
We are seeing the same issue. Has anyone at @msintuneappsdk or in the dev community found a solution?

[2021-07-16 17:45] jschear commented on #69
@joshbohls this has been resolved in the latest release, 7.6.0 ([changelog](https://github.com/msintuneappsdk/ms-intune-app-sdk-android/releases/tag/7.6.0)):

Though in my testing, specifying `androidx.*` for `includeExternalLibraries` was still necessary to get the transform to run on classes brought in by androidx libraries, so I think the release notes aren't quite correct.

[2021-08-12 11:05] javidran opened #72 "android:exported required when intent filters are present in Manifest - Android 12"
**Describe the bug:**
When the app targets API 30, the next error occurs when executing the app:

**To Reproduce**

1. Include intune aar package on the app dependencies.
2. Target API 31 on build.gradle
3. Execute App on Android 31 device/emulator.

**Expected behavior:**
The expected behavior is that the app at least initiates correctly.

**Screenshots and logs:**
- If applicable, add screenshot

[2021-08-17 08:29] svarnik commented on #72
I think MS will publish new SDK version with Android 12 support.

[2021-08-17 10:51] MirapakayalaDinesh opened #73 "app:transformClassesWithMamifyTransformForDevDebug"
**Describe the bug:**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**
A clear and concise description of what you expected to happen.

**Screenshots and logs:**
- If applicable, add screenshots to help explain your problem.
- If your app is experien

[2021-08-17 10:53] #73 closed

[2021-08-17 11:01] MirapakayalaDinesh opened #74 "app:transformClassesWithMamifyTransformForDevDebug >com/android/Version >Unable to load class 'com.android.Version'. This is an unexpected error"
**Describe the bug:**
A clear and concise description of what the bug is.
Build :failed
app:transformClassesWithMamifyTransformForDevDebug

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**
A clear and concise description of what you expected to happen.
Build successful
**Screenshots and logs:**
- If ap

[2021-08-24 00:35] bblia commented on #68
We are having the same problem on 7.6.0 with 4.2.x gradle versions. It appears that using those versions of gradle conflicts with the MAMification process so activities are not wrapped properly? We noticed that things like PIN code and copy/paste protection had just silently stopped working which is what led us down this path. Nothing worked except for downgrading to gradle 4.1.2. Hope this can ge

[2021-08-30 20:10] meghandaly commented on #69
Resolved in the latest release, [version 7.6.0](https://github.com/msintuneappsdk/ms-intune-app-sdk-android/releases/tag/7.6.0).

[2021-08-30 20:10] #69 closed

[2021-08-30 20:12] meghandaly commented on #68
Underlying issues was the same as captured in #69 and has been resolved in the latest release, [version 7.6.0](https://github.com/msintuneappsdk/ms-intune-app-sdk-android/releases/tag/7.6.0).

[2021-08-30 20:12] #68 closed

[2021-08-30 20:39] meghandaly commented on #63
The `NON_INTEGRATED_ACTIVITY_LAUCH` strict mode check indicates that an activity was launched which was not MAM-integrated and not explicitly excluded by build-plugin configuration.

For your specific app, this indicates that `com.flowscape.atlas.launcher.LaunchActivity` does not inherit from a MAM `Activity` variant and has not been explicitly called out in the configuration for the [gradle build

[2021-08-30 20:39] #63 closed

[2021-08-30 20:41] meghandaly commented on #72
The SDK does not currently support Android 12. A future release will have Android 12 support.

[2021-08-30 20:43] javidran commented on #72
Is there an expected date for its release?

[2021-08-30 20:46] meghandaly commented on #56
@shanmugpriyan306 and @dandamoodi Are you still experiencing this issue? If so, can you please indicate which version of the SDK and which version of MSAL you are using?

[2021-08-30 20:48] #43 closed

[2021-08-30 20:49] meghandaly commented on #43
The SDK supports MSAL integration, for integration guidance see [Configure Microsoft Authentication Library (MSAL)](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-android#configure-microsoft-authentication-library-msal).

[2021-08-30 20:55] meghandaly commented on #8
The SDK currently supports MSAL integration, for integration guidance see [Configure Microsoft Authentication Library (MSAL)](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-android#configure-microsoft-authentication-library-msal).

[2021-08-30 20:55] #8 closed

[2021-08-30 21:05] meghandaly commented on #67
@PREric Can you please indicate which version of the SDK you are using and experiencing this issue with? There was a known issue whereby the build plugin could throw a NPE that was resolved in [version 7.0.1](https://github.com/msintuneappsdk/ms-intune-app-sdk-android/releases/tag/7.0.1).

[2021-08-30 21:06] meghandaly commented on #71
@SowmyaAnand Please fill out the issue template with additional information so that we may better diagnose the issue.

[2021-08-30 21:09] meghandaly commented on #74
@MirapakayalaDinesh The image did not correctly attach to the issue. Please update with the full error output and fill out (or remove if not applicable) the fields in the issue template so we can better diagnose the issue.

[2021-09-01 14:32] meghandaly commented on #72
Aye, we are targeting mid-September!

[2021-09-07 12:48] joakley-msft commented on #65
Intune supports only AAD authentication. Depending on your architecture and business needs, you could conceivably add AAD authentication as an option for your server, thus allowing a single login, but there is no mechanism to use a different form of authentication with Intune.

[2021-09-07 12:48] #65 closed

[2021-09-07 12:52] joakley-msft commented on #64
Hi tulika17, you say that you aren't able to see the calendar, but you don't say what call you're making to download the calendar or what error that call fails with.  Does acquiring the token with the Calendars.Read scope succeed or fail? If it fails, what error does it fail with?

[2021-09-07 12:56] joakley-msft commented on #61
This is expected by default as MAM enrollment is asynchronous. The mechanism to ensure that MAM policy is applied before the app can be used is APP CA. See https://docs.microsoft.com/en-us/mem/intune/protect/app-based-conditional-access-intune for an overview. See https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-android#app-protection-ca for directions on supporting APP CA in your app

[2021-09-07 12:56] #61 closed

[2021-09-07 13:49] joakley-msft commented on #60
This issue occurs only if the Intune plugin is in use?

I tried out these steps and am not able to reproduce this. I realize it's been some time. Are you still able to reproduce? If so, could you provide a project which reproduces the issue?

[2021-09-07 13:51] joakley-msft commented on #57
I'm afraid your understanding of the expected behavior is incorrect -- this is functioning as designed. The "Encrypt Org Data" setting leads to encryption of all files created by the app, including in public locations.

[2021-09-07 13:51] #57 closed

[2021-09-07 13:56] joakley-msft commented on #58
Intune supports only Azure Active Directory sign-in. Your app may allow other forms of sign-in, but you will not be able to call MAM registration methods (via `MAMEnrollmentManager`) without an AAD login.

Our official stance on React Native is documented here https://docs.microsoft.com/en-us/mem/intune/apps/mam-faq#what-if-i-want-to-enable-an-app-with-intune-app-protection-but-it-is-not-using-a-s

[2021-09-07 13:56] #58 closed

[2021-09-07 14:04] joakley-msft commented on #46
ToDo is a Microsoft app. Please use internal channels for reporting issues.

[2021-09-07 14:04] #46 closed

[2021-09-07 14:07] joakley-msft commented on #36
The Intune MAM SDK does not control or affect prompt behavior in the ADAL or MSAL SDKs, nor does it provide a mechanism to acquire tokens itself. If this issue still occurs, please report it to the relevant authentication SDK.

[2021-09-07 14:07] #36 closed

[2021-09-07 14:08] joakley-msft commented on #33
No further activity since last Microsoft guidance 8 months ago, closing.

[2021-09-07 14:08] #33 closed

[2021-09-07 14:11] #16 closed

[2021-09-07 14:17] joakley-msft commented on #32
The Intune MAM gradle plugin has been updated to use Javassist 3.27
https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-android#gradle-build-plugin

[2021-09-07 14:17] #32 closed

[2021-09-07 14:19] joakley-msft commented on #49
This is by design as MAM enrollment is asynchronous. The only mechanism to force policy to be present before the app can be used is APP CA as documented at https://docs.microsoft.com/en-us/mem/intune/protect/app-based-conditional-access-intune. Directions on supporting APP CA in your app can be found at https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-android#app-protection-ca

[2021-09-07 14:19] #49 closed

[2021-09-07 14:19] joakley-msft commented on #2
This issue is over a year old and does not contain enough information for us to take direct action. We have instituted new practices for monitoring issues regularly. Please re-open if this is still occurring.

[2021-09-07 14:19] #2 closed

[2021-09-07 14:20] joakley-msft commented on #5
This issue is over a year old and does not contain enough information for us to take direct action. We have instituted new practices for monitoring issues regularly. Please re-open if this is still occurring.

[2021-09-07 14:20] #5 closed

[2021-09-07 14:22] joakley-msft commented on #7
Closing this as there's been no activity since awareness of the need to use Intune SDK 7.0+. If anyone is still encountering similar problems with 7.0+, please open a fresh issue. We have instituted new practices for monitoring issues regularly.

[2021-09-07 14:22] #7 closed

[2021-09-07 14:23] #10 closed

[2021-09-07 14:23] joakley-msft commented on #14
This issue is over a year old and does not contain enough information for us to take direct action. We have instituted new practices for monitoring issues regularly. Please re-open if this is still occurring.

[2021-09-07 14:23] #14 closed

[2021-09-07 14:24] joakley-msft commented on #17
This issue is obsolete, as it refers to a significantly outdated SDK version. We have instituted new practices for monitoring issues regularly. Please re-open if this is still occurring.

[2021-09-07 14:24] #17 closed

[2021-09-07 14:27] joakley-msft commented on #19
This original issue is over a year old and refers to a significantly outdated SDK version. We have instituted new practices for monitoring issues regularly. Please re-open if this is still occurring.

@EarlyWild the stack you show appears substantially different from that posted by JakeWang123 in the original issue. If you are still facing this problem, please open a fresh issue.

[2021-09-07 14:27] #19 closed

[2021-09-07 14:28] joakley-msft commented on #18
This issue is over a year old and does not contain enough information for us to take direct action. We have instituted new practices for monitoring issues regularly. Please re-open if this is still occurring.

[2021-09-07 14:28] #18 closed

[2021-09-07 14:29] joakley-msft commented on #21
This issue is over a year old and does not contain enough information for us to take direct action. We have instituted new practices for monitoring issues regularly. Please re-open if this is still occurring.

[2021-09-07 14:29] #21 closed

[2021-09-07 14:30] joakley-msft commented on #24
It is not expected for FLAG_SECURE to be set on Intune's own activities. However Intune will automatically set FLAG_SECURE for your app's activities when directed by policy to block screenshots. If you are still facing problems, please re-open this issue.

[2021-09-07 14:31] joakley-msft commented on #42
This issue is over a year old and does not reproduce in our internal testing. We have instituted new practices for monitoring issues regularly. Please re-open if this is still occurring.

[2021-09-07 14:31] #42 closed

[2021-09-07 14:33] joakley-msft commented on #28
Closing due to lack of problem reports since the guidance to upgrade to SDK 7.0+. If anyone is still experiencing this issue on 7.0+, please open a fresh issue. We have instituted new practices for monitoring issues regularly. Please re-open if this is still occurring

[2021-09-07 14:33] #28 closed

[2021-09-07 14:37] joakley-msft commented on #35
This issue is over a year old and does not contain enough information for us to take action. We have instituted new practices for monitoring issues regularly. Please re-open if this is still occurring.

[2021-09-07 14:37] #35 closed

[2021-09-07 14:41] joakley-msft commented on #34
This is expected: there is a 12-hour interval between rechecks for new policy. This is documented at https://docs.microsoft.com/en-us/mem/intune/apps/app-protection-policy-delivery.

[2021-09-07 14:41] #34 closed

[2021-09-07 14:44] joakley-msft commented on #44
The MAM plugin is intended to be applied to your application module, not to a library module. When applied to the application module, libraries will still be processed, as documented at https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-android#usage-of-includeexternallibraries

[2021-09-07 14:44] #44 closed

[2021-09-07 14:50] joakley-msft commented on #53
Thank you, ianbby

[2021-09-07 14:50] #53 closed

[2021-09-07 15:02] joakley-msft commented on #45
This issue is over a year old and does not contain enough information for us to take direction action. We have instituted new practices for monitoring issues regularly. Please re-open if this is still occurring. Note that the Intune MAM SDK cannot control the action of your server, so we will need more information about what mechanism you would expect to control your server behavior here (e.g. are

[2021-09-07 15:02] #45 closed

[2021-09-07 15:14] joakley-msft commented on #52
This issue is nearly a year old and does not contain enough information for us to take direct action. We have instituted new practices for monitoring issues regularly. Please re-open if this is still occurring. We need to know specifically *what* exception is being thrown when you try to get the primary user.

[2021-09-07 15:14] #52 closed

[2021-09-07 15:15] joakley-msft commented on #54
Closing as issue is over a year old and refers to an outdated SDK. We have instituted new practices for monitoring issues regularly. Please re-open if this is still occurring on the latest Intune MAM SDK.

[2021-09-07 15:15] #54 closed

[2021-09-07 15:18] joakley-msft commented on #55
This issue is nearly a year old and does not contain enough information for us to take action. We have instituted new practices for monitoring issues regularly. Please re-open if this is still occurring. If you do-reopen, please describe the voice input step in more detail. How is voice-input being initiated? Is it through the keyboard (in which case which keyboard are you using), or through somet

[2021-09-07 15:18] #55 closed

[2021-09-07 15:19] joakley-msft commented on #50
This is definitely unexpected, and counter to the experience of most apps. If anyone is still experiencing this issue, are you able to provide a minimal sample project which reproduces the problem?

[2021-09-07 15:22] joakley-msft commented on #48
It sounds as though the resource you're trying to authenticate to uses APP CA. See the following for directions on how to use MAMComplianceManager to ensure that Intune MAM policies are in place https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-android#app-protection-ca

Please re-open if this does not resolve the issue.

[2021-09-07 15:22] #48 closed

[2021-09-07 15:24] joakley-msft commented on #47
Scenario is now working for the original poster, closing issue.

[2021-09-07 15:24] #47 closed

[2021-09-07 15:26] joakley-msft commented on #38
We have instituted new practices for monitoring issues regularly.

@PREric  if you are still facing this issue, could you please provide the MAM SDK version you're using and the exact error message you see?

[2021-09-07 18:42] dexpota commented on #60
I do not have an example at hand right now, I am going to try reproducing
the issue this weekend.

On Tue, Sep 7, 2021 at 3:49 PM James Oakley ***@***.***>
wrote:

[2021-09-10 14:59] franferns opened #75 "App crashes with INTUNE SDK integrated throws java.lang.RuntimeException: Unable to start activity ComponentInfo"
**Describe the bug:**
java.lang.RuntimeException: Unable to start activity ComponentInfo{com.fa.sd.net/com.fa.sd.net.MainActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String android.content.Context.getOpPackageName()' on a null object reference

The app is integratd with the intune sdk and hosted on playstore. When installing the app while the intune compan

[2021-09-13 20:41] joakley-msft commented on #75
Hi @franferns. The <application> element in your AndroidManifest.xml (app/src/main/AndroidManifest.xml in the zip you shared) does not have an android:name attribute and so will not refer to the correct application class. Please see the note on this in our docs at https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-android#mamapplication

[2021-09-17 14:04] franferns commented on #75
Thanks this solves the issue

[2021-09-17 14:04] #75 closed

[2021-09-19 13:09] dexpota commented on #60
This is a repository that reproduces this issue: https://github.com/dexpota/intune-gradle-issue

While working on it, I noticed that the issue is fixed by upgrading to `org.javassist:javassist:3.27.0-GA` without any need to upgrade the Intune Gradle plugin.

[2021-09-20 12:04] joakley-msft commented on #60
Glad to hear it! 3.27 is the recommended/supported Javassist version.
https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-android#gradle-build-plugin
https://github.com/msintuneappsdk/ms-intune-app-sdk-android/blob/master/CHANGELOG.md#version-700

[2021-09-20 12:04] #60 closed

[2021-09-21 12:34] pradiptilala opened #76 "Android Service with android:isolatedProcess="true" not working with intune SDK."
**Describe the bug:**
I have an app which uses intune sdk for android. We want to integrate a service with with android:isolatedProcess="true" for root detection related functionality on our App.
But, android Service with **android:isolatedProcess="true"** not able to work with our App with already integrated Intune SDK.

**We have also tried to create an separate sample App with intune and with a

[2021-09-22 15:08] ukjbrown commented on #50
Did anyone make any progress with the above error? I have an application with multiple productFlavors. One of those flavors works without any issue, the other throws the `java.lang.AssertionError: Attempt to access uninitialized OfflineComponents` exception when calling `MAMEnrollmentManager mgr = MAMComponents.get(MAMEnrollmentManager.class);`

[2021-09-22 17:31] achmyr commented on #40
+1
Consider the case that in large orgs, due to security reasons, it is not safe to download package from a GitHub project.

[2021-09-22 21:21] rygo-msft commented on #76
Hi @pradiptilala,

Can you provide more information about your issue?

What exactly is failing for your app? Is the service not starting at all, or does it start but not in an isolated process?

Can you share logs from the Company Portal after reproducing the issue?
https://docs.microsoft.com/en-us/mem/intune/user-help/send-logs-to-microsoft-android

[2021-09-23 11:25] pradiptilala commented on #76
@rygo-msft
Uploaded Log with Incident ID: **FXCH3MDG**

Service is starting when we have AndroidManifest.xml declaration as below: (Service is starting)
[code]

But once I add flag android:isolatedProcess="true" to service's AndroidManifest.xml declaration as Shown below,  service not starting at all. (Isolated process not starting at all)

[code]

Isolated process is not starting when App has Int

[2021-09-27 06:21] pradiptilala commented on #76
@rygo-msft  **Could you please guide us with this as we are at a critical phase for our release.**

[2021-09-27 15:41] rygo-msft commented on #76
Unfortunately, we don't have a general solution right now for isolated processes because of the requirement to communicate with the Company Portal. We are discussing potential options for you.

@pradiptilala, can you share more information about what your isolated service will be doing? Is magisk / root detection an accurate representation of your use case, or does your service do something else?

[2021-09-29 08:40] javidran commented on #72
Any updates on this?

[2021-10-01 11:53] pradiptilala commented on #76
@rygo-msft

Please find more information about questions:

- Is Magisk / root detection an accurate representation of your use case, or does your service do something else? Do you access any files written by other app processes?
**- Answer:** Accurate representation of your use case is to detect Magisk presence on device. Our App is not writing any files from other app process.

- Does your isolat

[2021-10-01 17:58] meghandaly commented on #72
SDK 8.0 is now available!  [Version 8.0](https://github.com/msintuneappsdk/ms-intune-app-sdk-android/releases/tag/8.0.0)

[2021-10-01 17:58] #72 closed

[2021-10-07 18:05] meghandaly commented on #74
This issue does not contain enough information for us to take direction action. We have instituted new practices for monitoring issues regularly and will be closing issues that are not updated within 30 days. Please re-open if this is still occurring and include the requested information.

[2021-10-07 18:05] #67 closed

[2021-10-07 18:06] #71 closed

[2021-10-07 18:09] meghandaly commented on #64
This issue does not contain enough information for us to take direction action. We have instituted new practices for monitoring issues regularly and will be closing issues that are not updated within 30 days. Please re-open if this is still occurring and include the requested information.

[2021-10-07 18:09] #64 closed

[2021-10-08 08:30] pa-chihaya-katagi opened #77 "App crashes with INTUNE SDK integrated throws java.lang.SecurityException: getCallState: Neither user 10325 nor current process has android.permission.READ_PHONE_STATE."
**Describe the bug:**
When I do a fresh install of the app and launch the app, it crashes.

Exception is thrown because phone permissions are not allowed.
If I allow phone permissions before launching the app, it will not crash.

**To Reproduce**
- Prerequisite
  - targetSDK: 31
  - OS: Android 12 beta5
  - Signed in with company portal
  - App protection policy is applied.

Steps to reproduce the

[2021-10-08 16:31] #77 closed

[2021-10-12 15:40] bblia commented on #59
Thank you for looking into it! We’ll try to validate the fix once it’s out.

[2021-10-22 10:41] sandeepbhatia4922 opened #78 "Facing Problem in SDK integration"
Mamification failed: null
java.lang.NullPointerException
	at com.microsoft.intune.mam.BuildTimeMamifier.mamifyClass(BuildTimeMamifier.java:378)
	at com.microsoft.intune.mam.BuildTimeMamifier.mamifyClasses(BuildTimeMamifier.java:190)
	at com.microsoft.intune.mam.BuildTimeMamifier.mamify(BuildTimeMamifier.java:108)
	at com.microsoft.intune.mam.MamifyTransformBase.transform(MamifyTransformBase.java:2

[2021-10-28 07:03] GokulRajAspire opened #79 "No class Found exception"
Class not found exception is thrown when looping the MAMpolicy.

`for( SaveLocation saveLocation : SaveLocation.values() ) {
                boolean isAllowed= MAMPolicyManager.getPolicy().getIsSaveToLocationAllowed( saveLocation, "" );
               if(isAllowed){
// do Something;
}
            }`

Also its not very clear in the documentation that which user we should be sending as second parame

[2021-10-28 11:49] #78 closed, assigned to nobody

[2021-11-02 17:05] richakhanna opened #80 "Upgrading to 8.0.0 results in ClassCastException at Runtime"
While updating to Intune SDK and Intune gradle plugin from [7.6.0](https://github.com/msintuneappsdk/ms-intune-app-sdk-android/releases/tag/7.6.0) to [8.0.0](https://github.com/msintuneappsdk/ms-intune-app-sdk-android/releases/tag/8.0.0), I've noticed that it is crashing our release version of the application where R8 is enabled with the following stacktrace:
[code]

In testing I found that if I r

[2021-11-03 19:44] meghandaly commented on #79
Can you please share the exception and stack trace so we can better investigate?

[2021-11-03 19:55] meghandaly commented on #76
We have made a fix for this that will be available in a future release. There is no known workaround in the meantime.

[2021-11-04 13:43] meghandaly commented on #50
@cabanasn or @MathieuCalba are either of you still experiencing this issue? If so, can you provide a minimal sample so that we may help address it? Also of interest might be @bannus ' suggestion above.

[2021-11-05 07:56] mdurini-swisscom opened #81 "Calendar sync not working in Outlook for Android"
We configured Outlook to show the calendar into the  native calendar app and database via an app configuration policy. The device is enrolled as "Personal owned device with work profile" but in the native app we can't see the calendar. We also tried to deploy a copy of the calendar app inside the work profile but it didn't worked.

**Expected behavior:**
We would expect to see the calendar in the

[2021-11-05 08:03] mdurini-swisscom opened #82 "Outlook for Android is not getting the proper permissions granted"
Hello, we configured an enrollment using the "Personal owned device with work profile" way and a device configuration profile with the option "Default app permissions" configured as "Auto grant". I was expecting to have the Outlook for Android application (installed as requested application and configured as managed app) eligible to access to the calendar permissions after the first login but this

[2021-11-12 18:53] meghandaly commented on #80
It appears this issue was ultimately an issue with R8 that has been addressed by Google: [java.lang.ClassCastException thrown in a class’s constructor in build minified by R8](https://issuetracker.google.com/issues/205205666?pli=1), closing.

[2021-11-12 18:53] #80 closed

[2021-11-15 21:08] bannus commented on #81
Hi @mdurini-swisscom, thanks for the report. This is a known issue, tracked internally by #12483587. Until we release a fix, you should be able to add the native calendar app packages (`com.android.providers.calendar` and `com.android.providers.calendar`) to the "Select apps to exempt" policy to achieve the desired behavior.

[2021-11-16 07:03] mdurini-swisscom commented on #81
hi @bannus thank you for your reply. You pasted two times the same string, com.android.providers.calendar. Best regards

[2021-11-16 09:33] mdurini-swisscom commented on #81
hi @bannus i don't know if it's related to the duplicated string in the exemption, but after forcing a sync from the intune agent, i'm still not able to see the Outlook work profile calendar in the home profile calendar application.

[2021-11-16 13:35] joakley-msft commented on #82
Hi @mdurini-swisscom this repo is for developers who integrate the Intune APP SDK for Android into their own applications. Further, the device management configuration of permissions does not go through the APP SDK. For other issues with Intune, you'll need to raise a support request to Microsoft through your company or organization. If you're not familiar with this process, please see https://doc

[2021-11-16 13:35] #82 closed

[2021-11-16 19:46] bannus commented on #81
Ah, my mistake, I've edited my post. If that doesn't work for you, please [collect Company Portal logs](https://docs.microsoft.com/en-us/mem/intune/user-help/send-logs-to-your-it-admin-by-email-android#send-logs-from-company-portal) and share the Incident ID with us here.

[2021-11-17 07:04] mdurini-swisscom commented on #81
hello @bannus thank you so much, i will try it today. The funny thing is that yesterday I was able to get everything working with some extra steps. I've enabled the option "Connected apps" as explained [there](https://docs.microsoft.com/en-us/mem/intune/apps/app-configuration-policies-use-android) for the Google Calendar app (it was necessary because this option was greyed out in the mobile, due t

[2021-11-26 07:57] PeaceAllen opened #83 "Android Auto not working after integrate this SDK"
**Describe the bug:**
Android Auto does not work after I integrate this SDK and install Company Portal App in my Android Phone.
when I uninstall the Company Portal App, it works again.

**To Reproduce**
my app is a audio player app, and support android auto function.
after i integrate this SDK and enroll in Company portal app,  android auto could not work.
SDK version is 7.6.0.

[2021-12-01 08:31] sandeepbhatia4922 opened #84 "Multi tenancy not supported"
I have created a LOB app and implemented intune SDK. I have registered the app on azure portal and provided authentication, api permissions. Similarly deployed protection policies on https://endpoint.microsoft.com/#home. Now I am able to login through MSAL and register for MAM with my tenant. and fetching the protection policies I have deployed.

But if I want to login with other tenant which have

[2021-12-01 18:40] jonathangerbaud opened #85 "MAM Factory looping and crashing"
Android Studio manages to build and launch the app but it crashes immediately with the following error:

[code]

This error is displayed so many times that the logcat is filled with it and I can't read the initial error and stacktrace.

Tested on Emulator (API 29) and Galaxy S8 (Android 9) and got the same result.

**Intune App SDK for Android (please complete the following information):**
- What

[2021-12-01 18:47] joakley-msft commented on #84
Please see https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-get-started#give-your-app-access-to-the-intune-app-protection-service-optional. The permissions you mentioned in your first paragraph must be granted in _each_ tenant which uses your app.

[2021-12-02 10:34] ajennings1990 opened #86 "Registering Account for MAM always returns NOT_LICENSED"
**Describe the bug:**
I am integrating the Android SDK (version 8.1.1) into our Android app following the documentation provided.

I have managed to successfully integrate MSAL and complete the authentication flow and log into our domain to retrieve the MSAL account for my user (including access token).
We then call "registerAccountForMAM" upon which the SDK displays the returned notification for

[2021-12-03 07:37] sandeepbhatia4922 commented on #84
thanks @joakley-msft
now i am able to provide consent to app by other organisations. But it still working with manual approval of permission. As I grant permission on behalf of organisations through a prompt in app, access token not returned for MAM service.

But if I manually grant consent in azure active directory for enterprise app, it's working fine. I am attaching screenshot for both process

[2021-12-03 23:50] mlynch opened #87 "Unable to trigger Conditional Access flow"
**Describe the bug:**

I am trying to test a Conditional Access auth flow using Intune and MSAL. On iOS I am able to successfully trigger the Conditional Access flow. On Android, I never receive a `MsalIntuneAppProtectionPolicyRequiredException` event in the `onError` of my `AuthenticationCallback` so I never have a chance to call `remediateCompliance` on the `MAMComplianceManager`.

I have checke

[2021-12-08 16:33] swolfand opened #88 "PopupWindow not respecting transparent background on intune only"
**Describe the bug:**
At Slack we use the Android framework `PopupWindow` for user education, and on intune builds only we see that the transparent background of our 9 patch drawables aren't respected (see image) does intune do any transformation of these classes?

**To Reproduce**
Steps to reproduce the behavior:
1. Install InTune build (From appstore is fine)
2. Register with a Microsoft account

[2021-12-09 17:09] mlynch commented on #87
I talked with our client who is struggling to integrate Intune in their app. Their conditional access flow appears to be engaging and breaking their login, but when we try to duplicate it on our end we are not able to get it to trigger and auth works correctly. Any help on the above would be greatly appreciated, as right now we're both stuck.

[2021-12-09 19:45] bannus commented on #88
Hi @swolfand, thanks for the report. We're tracking this internally with #12812733.

Which version of the Company Portal did you use? Can you confirm it reproduces with the latest version of the Company Portal?

[2021-12-09 19:48] bannus commented on #87
@mlynch Which version of MSAL are you using? Are you able to either share a sample app that can reproduce the issue or expand on your repro steps? (Are those steps supposed to say '...' repeatedly?)

[2021-12-09 19:48] swolfand commented on #88
I'm using 5.0.5333 I just reproduced it today with the latest version

[2021-12-09 21:10] bannus commented on #86
Hi @ajennings1990, can you confirm that this user and app (`com.interactgo.interact.debug`) is targeted with App Protection Policy in the MEM console?

[2021-12-09 21:51] bannus commented on #83
Our SDK may block incoming our outgoing functionality depending on the policy you have configured. If you have configured policies that you expect to allow Android Auto to continue to function, please share your policy configuration and upload Company Portal logs after reproducing the issue:

* Open the Company Portal. If not logged in, press the "..." menu button in the top right.  If already log

[2021-12-09 22:37] bannus commented on #85
Hi @jonathangerbaud, thanks for the report. I can reproduce this and I've filed #12814168 to track our investation internally.

Can you confirm which exact version of the SDK you're using? For diagnostic purposes only, can you see if you able to work around this by adding `io.github.inflationx.viewpump.internal.-ViewPumpLayoutInflater` to `excludeClasses` in the `intunemam` [build plugin configura

[2021-12-09 22:39] bannus commented on #50
Closing -- please re-open if this still occurs after making the configuration change I suggested:

[2021-12-09 22:39] #50 closed

[2021-12-09 22:52] #79 closed

[2021-12-09 22:53] bannus commented on #79
Closing due to inactivity -- please reach out again with more information if you are still experiencing this issue.

[2021-12-09 23:02] bannus commented on #84
@sandeepbhatia4922 My understanding is that this permission can only be granted in the admin console, and there is not a way to grant it via an app prompt. Can you elaborate on why the manual approval by IT admin does not meet your needs so we can better understand your issue?

[2021-12-10 14:37] ajennings1990 commented on #86
@bannus I can confirm that they are, yes.

I did manage to resolve this issue by removing the following from my msal_config.json file
`"http": {
       "connect_timeout": 10000,
    "read_timeout": 30000
  },
  "logging": {
    "pii_enabled": false,
    "log_level": "WARNING",
    "logcat_enabled": true
  },
  "shared_device_mode_supported": false,
  "browser_safelist": [ <default values from docu

[2021-12-10 19:42] bannus commented on #86
@ajennings1990 OK, thanks for the update. I'll close this issue. If you determine that a particular MSAL setting was causing your MAM enrollment issue, please let us know so we can investigate.

[2021-12-10 23:27] ajennings1990 commented on #86
@bannus Spoke too soon. I'm getting that issue again. Seems to occur on my Nokia device running Android 11.
My Samsung running Android 9 manages to enrol just produces that new error (in my last message).

[2021-12-13 09:51] jonathangerbaud commented on #85
Hi @bannus,

I'm using version 8.1.1.

Adding `io.github.inflationx.viewpump.internal.-ViewPumpLayoutInflater` to `excludeClasses` seems to do the trick.

The app is not crashing anymore and I can use it as usual.

Thanks for this workaround ;)

[2021-12-13 11:14] jonathangerbaud commented on #85
Hi @bannus,

I'm using version 8.1.1.

Adding `io.github.inflationx.viewpump.internal.-ViewPumpLayoutInflater` to `excludeClasses` seems to do the trick.

The app is not crashing anymore and I can use it as usual.

Thanks for this workaround ;)

[2021-12-13 20:14] bannus commented on #86
@ajennings1990 If you have a consistent repro of the original issue, would you upload Company Portal logs immediately after reproducing:

* Open the Company Portal. If not logged in, press the "..." menu button in the top right. If already logged in, press the hamburger icon in the top left.
* Click Help -> Email Support -> Upload Logs Only
* Share the Incident ID displayed here

[2021-12-14 14:50] bryancaray-ubs opened #89 "Failed to build with dagger hilt"
Hi ,

I was unable to build my application once i change from Application to MAMApplication

I am Receiving [Error](url)
onCreate() in Hilt_BaseApplication cannot override onCreate() in MAMApplication
overridden method is final because hilt is overriding the onCreate Function.

@HiltAndroidApp
class BaseApplication : MAMApplication() {

[2021-12-16 22:35] mlynch commented on #87
Ah apologies didn't mean to leave those in. I'm still trying to get more info from the customer. It sounds like they *might* be having a different issue.

I'm still not able to get the compliance manager/conditional access flow to actually trigger though. Is there any example of this working? With the same configuration it triggers on iOS so I'm very confusion

[2021-12-24 08:55] Ddv0623 commented on #87
Hi,
I have same issue.
When get token on iOS there will be MsalIntuneAppProtectionPolicyRequiredException then in code I will remediateCompliance.
For Android it get token without any issue or exception. Is it expected?

I using MSAL 2.2.2

[2021-12-27 15:20] meghandaly commented on #76
Thank you for your patience!

Please see the latest release, [Release Version 8.3.0 ](https://github.com/msintuneappsdk/ms-intune-app-sdk-android/releases/tag/8.3.0), for guidance on how to address this issue with the latest MAM SDK.

[2021-12-27 15:20] #76 closed

[2021-12-27 22:15] codylund commented on #59
This should be fixed with the latest version of the Company Portal available in the Google Play Store.

[2021-12-27 22:15] #59 closed

[2021-12-27 22:26] codylund commented on #89
Hi @bryancaray-ubs, can you confirm that you are applying the Gradle Build Plug-in to your application as described [here](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-android#gradle-build-plugin)?

If you are manually changing the super class from `Application` to `MAMApplication` you must also manually change a number of method overrides in your custom class, including `onCreate

[2021-12-29 16:26] codylund commented on #88
Digging into this issue, I can reproduce locally in a test app without the Company Portal installed. My guess is that we are losing some default theming when the Build Plug-in rewrites `PopupWindow` to `MAMPopupWindow`, but I haven't root caused the issue.

@swolfand, one workaround I discovered via local testing is to explicitly set a transparent background on the `PopupWindow` instance, e.g.
[co

[2022-01-05 08:50] Nash123-start opened #90 "javassist.CannotCompileExceptio compile error"
Mamification failed: onMAMCreate (Landroid/os/Bundle;)V in com.medallia.digital.mobilesdk.c0: conflict: int and androidx.appcompat.app.AppCompatActivity
javassist.CannotCompileException: onMAMCreate (Landroid/os/Bundle;)V in com.medallia.digital.mobilesdk.c0: conflict: int and androidx.appcompat.app.AppCompatActivity
	at javassist.expr.ExprEditor.doit(ExprEditor.java:122)
	at javassist.CtClassType

[2022-01-05 22:20] mlynch commented on #87
@Ddv0623 glad I'm not the only one! Unfortunately, this API is very obscure and there don't appear to be any examples of how to use this API

[2022-01-06 17:44] boyzhang-msft commented on #90
Hi @Nash123-start , thank you for reporting the issue. I just have a few clarification/follow up questions before further investigation:
- Does your app build successfully without integrating MAM SDK?
- Could you post the MAM relevant sections in your build.gradle?
- Could you post the generated build plugin HTML report? You can generate the report with `--report` option when running the MAM gradl

[2022-01-07 04:18] anandayyanar3450 opened #91 "Not getting the Install Microsoft Intune Company Portal app Popup dialog message"
I have configured the Intune company portal in my app, although I am getting Device health check up screen when I install the app from the company portal, but suppose users who dont have the comapny portal app installed, I am not getting the Install Microsoft Intune Company Portal app pop up dialog msg ie [https://filestore.community.support.microsoft.com/api/images/4efb19b1-ce70-482c-a61c-73749a6

[2022-01-07 06:15] Nash123-start commented on #90
1.Yes I can build the app successfully without integrating MAM SDK?
2.In my build.gradle I add the dependence :Implementation "com.medallia.digital.mobilesdk:android-sdk:${rootProject.ext.medalliaVersion}"   medalliaVersion = "3.9.1"
 maven {
            allowInsecureProtocol = true
            url 'http://nexus.lab.rcch.ringcentral.com:8888/nexus/content/repositories/glip-mobile-snapshots'

[2022-01-10 05:36] Ddv0623 commented on #87
@bannus Do Microsoft have implement a full example how to implement Intune with CA support for android using java. We can take a look that example to check if we missing any thing.
Because so far when I get token by MSAL there are no error return where there are should be an error because the app is not protected at that time.

[2022-01-10 14:19] boyzhang-msft commented on #91
Hi @anandayyanar3450, thanks for reporting this. You shouldn't need to any manual work get the "Install Company Portal" screen, if the enrolled user (user signed into the app) is targeted with MAM policy, you should get this prompt for free after correctly integrating MAM SDK in your app.

Some clarification questions please:
- Is your app a multi-identity app?
- Have you followed the steps in the

[2022-01-10 14:30] boyzhang-msft commented on #90
Thanks for the detailed information. Could you post your complete `build.gradle` file? The snippet doesn't seem to include all MAM related parts. I was looking for something similar to the samples provided here: https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-android#gradle-build-plugin

For 4, to generate the report, you can add
[code]
as mentioned here: https://docs.microsoft.com/e

[2022-01-11 17:30] mlynch opened #92 "Not able to skip brokered auth or use com.microsoft.intune.mam.aad.NonBrokerRedirectURI"
**Describe the bug:**

When using MSAL directly inside of an app with the Android Intune App SDK, the auth broker is always invoked even when calling `acquireTokenSilentAsync` and setting the following configuration options to skip the brokered auth flow: https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-android#configure-microsoft-authentication-library-msal

**To Reproduce**
Steps to

[2022-01-12 05:23] Nash123-start commented on #90
Hi, I had put the demo to the github, there is the link:
https://github.com/Nash123-start/ApplicationTestForIntunes
You can download the demo code here

[2022-01-12 05:40] Nash123-start commented on #90
I have pushed the demo to the GitHub, there is the link:https://github.com/Nash123-start/ApplicationTest

[2022-01-14 21:23] meghandaly commented on #85
@jonathangerbaud We are happy to hear the workaround has unblocked you 😄

We are looking looking into making a fix in the SDK so that the workaround is no longer necessary, but do not have a timeline for that at this time.

[2022-01-14 21:24] meghandaly commented on #86
@ajennings1990 is this still presenting as an issue on the Nokia device running Android 11? If so, can you please upload Company Portal logs as Bannus suggested to help us with our investigation?

[2022-01-18 00:48] Nash123-start commented on #90
Is there anything updated?

[2022-01-26 00:47] JCreswellENVRMNT opened #93 "Dynamic feature module's AppCompatActivity crashes due to unwanted transform exclusion caused by 'superclass androidx.core.app.ComponentActivity will not be processed'"
**Describe the bug:**
I'm trying to add a dynamic feature module to an application that uses Intune, and every time I launch an AppCompatActivity subclass from the dynamic feature module I get the following crash:
[code]

Applying the Intune plugin also to the dynamic feature module itself gives me some insight in the form of the following build logs:
[code]

Essentially it appears that Intune Mam

[2022-01-27 02:03] JCreswellENVRMNT commented on #93
Curiously, I hit the same transformation failure when I use the CLI tool on a trivial AppCompatActivity subclass as follows:
[code]
So for some reason both dynamic feature module and CLI transform run against AppCompatActivity seems to demonstrate this issue.

[2022-01-27 13:58] joakley-msft commented on #92
Hi @mlynch, my apologies that you didn't get a response sooner. The Intune meta-data tags that you set affect only Intune's authentication usage and expectations. They don't control MSAL or have any bearing on the tokens that your app requests through calls to MSAL APIs.

If you want the broker not to be used in these calls, you need to edit your MSAL configuration JSON. Specifically, you need to

[2022-01-27 13:58] #92 closed

[2022-01-27 14:09] sandeepbhatia4922 commented on #84
@bannus  Right, With IT admin's approval app is working fine. But then why app is prompting to ask grant permission for tenant?
Since it's confusing user as two time consent providing process on behalf of organisation, one from app and other by IT admin.

[2022-01-27 15:45] joakley-msft commented on #93
Thank you for the detailed report. The demo project should allow us to reproduce this and investigate. We'll get back to you as soon as possible.

[2022-01-27 15:59] joakley-msft commented on #84
If permission is not previously granted by the admin in the console then the app will prompt the user when launched. Only an admin is able to accept the permission on behalf of the organization.

You said above " if I manually grant consent in azure active directory for enterprise app, it's working fine". If I'm understanding you correctly, you're seeing the expected behavior. The preferred path i

[2022-01-27 15:59] #84 closed

[2022-01-27 16:57] joakley-msft commented on #87
@Ddv0623 our sample app at https://github.com/msintuneappsdk/Taskr-Sample-Intune-Android-App/ does demonstrate some MAM CA capabilities. Let us know if this helps at all.

[2022-01-27 17:00] joakley-msft commented on #86
Last request for information was over a month ago without response, closing. Please feel free to reactivate if further information becomes available.

[2022-01-27 17:00] #86 closed

[2022-01-27 17:01] joakley-msft commented on #83
Last request for information was over a month ago without reply, closing. Please feel free to reactivate if further information becomes available.

[2022-01-27 17:01] #83 closed

[2022-01-27 17:05] mlynch commented on #87
Thanks @joakley-msft, all I can find is this exception handler here, but it seems like it's not implementing the CA stuff beyond just a note on how to do it: https://github.com/msintuneappsdk/Taskr-Sample-Intune-Android-App/blob/ca9fa2f9b350ee0c3a8566cc4ac5dad4ad9fbbfc/app/src/main/java/com/microsoft/intune/samples/taskr/MainActivity.java#L204

Unfortunately, it seems like @Ddv0623 and I can't get

[2022-01-27 17:10] joakley-msft commented on #87
We're tracking the sample improvement internally with #13121189.

When you say you can't get the CA stuff to trigger at all -- does that mean that your calls to MSAL succeed and give you an access token, despite no MAM policy being applied to the app?

[2022-01-27 17:16] mlynch commented on #87
Correct, we get an access token back, but we also do get a working Intune MAM policy on Android and no Conditional Access errors raised. It's as-if the CA stuff is just doing nothing on Android.

However, on iOS we *do* get the CA errors raised and have to call `IntuneMAMComplianceManager.instance().remediateCompliance`. The configuration on the Azure side looks correct and identical for both iOS

[2022-01-27 18:21] joakley-msft commented on #87
The part that has me a bit puzzled here is that by definition Conditional Access is enforced service-side in AAD. In the case of MAM-based CA, you're conditionally given an access token only if policy is applied to your app. There isn't anything you can do "wrong" in your app to accidentally get an access token without Intune thinking it's applying MAM policy. And that fact that your iOS app is ge

[2022-01-28 06:02] sandeepbhatia4922 commented on #84
thanks @joakley-msft  for clarification

[2022-01-28 09:59] ajennings1990 opened #94 "Unsafe Cipher Mode In Google Play Store"
**Describe the bug:**
We have integrated the Intune SDK into our Android app and when we've submitted it to the Google Play Store it's showing the following error.
<img width="783" alt="Screenshot 2022-01-27 at 11 34 06" src="https://user-images.githubusercontent.com/28726801/151526328-f3fdf703-b6d8-4471-b140-96d3f2862e31.png">

**To Reproduce**
Steps to reproduce the behavior:
- Integrate SDK
- U

[2022-01-28 12:48] joakley-msft commented on #94
You will need to work with the ADAL library on this, or convert to the newer MSAL library. The class shown in that screenshot is _not_ part of the Intune APP SDK, nor does our SDK introduce a dependency on it.

[2022-01-28 12:48] #94 closed

[2022-01-28 12:53] joakley-msft commented on #94
Note that ADAL can be found on Github here: https://github.com/AzureAD/azure-activedirectory-library-for-android

[2022-01-28 21:11] paul-turner opened #95 "Intune plugin does not support Gradle's configuration cache"
**Describe the bug:**
When running a build with [Gradle's configuration cache](https://docs.gradle.org/current/userguide/configuration_cache.html#config_cache:usage) turned on the build will fail to apply the config cache due to the plugins [usage of disallowed types](https://docs.gradle.org/7.2/userguide/configuration_cache.html#config_cache:requirements:disallowed_types).

**To Reproduce**
Repro

[2022-01-28 21:36] joakley-msft commented on #90
Thank you for the project. We can reproduce using your demo, and this does appear to be an Intune bug. This will be fixed in a forthcoming SDK release.

[2022-01-28 21:46] joakley-msft commented on #95
Hi @paul-turner, thank you for the report. We are taking support for the configuration cache under advisement and are tracking internally as 13139839.

However please note that the Gradle docs you linked contain the warning:

[2022-01-31 02:01] ZacSweers commented on #95
Hi @joakley-msft - That is a notice, not a warning. Configuration caching is fairly close to being the default, community plugins should be actively implementing support for it and I'd point out that intune's SDK is actually our last remaining plugin that _hasn't_ implemented support yet. We actively have to isolate the plugin currently to CI only so as to limit its negative influence on local bui

[2022-01-31 18:03] paul-turner commented on #95
Yep sorry about that, I used the bug template out of convenience and should have updated the wording a bit. Any updates on development would be appreciated and as Zac mentions we are quickly approaching a time where configuration cache will become a norm in Android development.

[2022-01-31 22:26] joakley-msft commented on #89
No reply to information request in over a month, closing. Please feel free to reactivate with the request.

[2022-01-31 22:26] #89 closed

[2022-01-31 23:02] joakley-msft commented on #93
Tracking internally as 13158133

[2022-02-03 20:45] MathieuCalba commented on #40
Is it possible to have feedback on this request? Is it something that is on your roadmap?

Thanks!

[2022-02-03 22:11] MathieuCalba opened #96 "MAM Intune SDK don’t work when KSP is enabled"
**Describe the bug:**
When building our app with KSP enabled for Moshi, there is an error at compile time:
[code]

There is indeed no `classes` file or directory in this folder when building with KSP. They are classes in a `kotlin` folder instead.

Using Moshi with KAPT works and using Moshi with KSP without MAM Intune works also.

**To Reproduce**
Steps to reproduce the behavior:
1. Add Moshi usi

[2022-02-03 22:28] MathieuCalba opened #97 "Coroutine 1.6.0 doesn’t seem to be supported by MAM Intune SDK 8.3.0"
**Describe the bug:**
When building our app that has Coroutines 1.6.0 dependency (https://github.com/Kotlin/kotlinx.coroutines/releases/tag/1.6.0), we have the following error:
[code]

If we choose the 1.5.2 version of Coroutines (https://github.com/Kotlin/kotlinx.coroutines/releases/tag/1.5.2), we don’t have the error.

In the generated report or when running the command using `--stacktrace` and

[2022-02-07 19:18] joakley-msft commented on #87
@mlynch in that case could you follow the directions at https://docs.microsoft.com/en-us/mem/intune/user-help/send-logs-to-microsoft-android to upload logs. Please relay the incident id here and we can take a look.

[2022-02-08 04:40] pa-y-omura opened #98 "About Intune's MAMStartupActivity"
As a normal operation when the restrictions by Intune are properly reflected in the application, I think that MAMStartupActivity will appear at the first startup, but regarding the appearance timing of this screen, the following two situations are confirmed.

- First-time installation app
→ After displaying the startup screen (splash screen) of our application, MAMStartupActivity starts.

- Instal

[2022-02-15 11:27] Durzan666 opened #99 "AgentIpcException: Android threw IllegalArgumentException"
**Describe the bug:**
We integrated the SDK but the automatic enrollment doesn't work although the Intune Company App is installed and the user is signed in. Only one of our devices (Google Pixel 5 with Android 12) doesn't show the issue. All our devices are BYOD devices.

**To Reproduce**
Steps to reproduce the behavior:
1. Integrate Intune SDK
2. Add security policy for app
3. Install Intune Com

[2022-02-18 05:33] Nash123-start opened #100 "TransformClassesWithMamifyTransform error: java.util.zip.ZipException, zip file is empty"
* Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':ui:transformClassesWithMamifyTransformForRingcentralIntuneInhouseDebug'.
	at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.lambda$executeIfValid$1(ExecuteActionsTaskExecuter.java:188)
	at org.gradle.internal.Try$Failure.ifSuccessfulOrElse(Try.java:263)
	at org.gradle.api.internal.tasks.exe

[2022-02-24 07:10] Nash123-start opened #101 "When I click the next in the MAMStartupActivity the comes the crash java.lang.ClassNotFoundException: com.microsoft.intune.mam.client.app.startup.ConditionalLaunchGetAccessFragment"
java.lang.RuntimeException: Unable to destroy activity {com.ringcentral.intune/com.microsoft.intune.mam.client.app.startup.MAMStartupActivity}: java.lang.ClassNotFoundException: com.microsoft.intune.mam.client.app.startup.ConditionalLaunchGetAccessFragment
        at android.app.ActivityThread.performDestroyActivity(ActivityThread.java:5456)
        at android.app.ActivityThread.handleDestroyActiv

[2022-02-28 21:29] bannus commented on #97
Thanks for the report, we are investigating.

(internal tracking: #13307832)

[2022-02-28 21:30] bannus commented on #96
Thanks for the report, we are investigating.

(internal tracking #13307832)

[2022-02-28 21:53] msft-cofitz commented on #98
The MAM screens will appear based on policy arriving on the device and some different timers. The following resources should help explain the behavior you are seeing
- https://docs.microsoft.com/en-us/mem/intune/apps/app-protection-policy-delivery and the
- https://docs.microsoft.com/en-us/mem/intune/apps/mam-faq#when-is-the-user-prompted-to-enter-their-pin
- "Recheck the access requirements" http

[2022-02-28 21:53] #98 closed

[2022-02-28 21:59] #91 closed

[2022-02-28 22:00] bannus commented on #91
Closing as we did not receive a response for over 30 days.

[2022-02-28 22:11] msft-cofitz commented on #99
@Durzan666 can full logs be provided from the start of installation of `io.simplifier.client` on the pixel running 10?

[2022-03-01 00:49] Nash123-start commented on #101
![1811646095532_ pic](https://user-images.githubusercontent.com/97157482/156083337-b638bba6-dded-44d7-91ad-06a23586b691.jpg)
After I integrated the InTune SDK and opened the app, this page appeared, and when I clicked Next, it crashed

Could you please tell me what specific information you need to provide

This issue is urgent and looking forward to your reply

[2022-03-01 00:49] Nash123-start commented on #101
Thank you for your reply

[2022-03-02 02:02] JCreswellENVRMNT commented on #93
Hello, just checking in -- how's the investigation going?

[2022-03-03 12:11] Ponsen commented on #99
Hi,

I'm answering on behalf of @Durzan666.
Prior to generating the following logs, I've factory resetted the device and applied my own accounts to the android system and company portal app. All other settings should be the same and I'm getting the same error.

  <details>
  <summary><b><u>Pixel Logcat Logs - Unfiltered, starting from first installation of our app, company portal is installed and

[2022-03-04 21:55] bannus commented on #101
Hi @Nash123-start, when you created an issue, the following template should have been auto-populated -- please fill this out. For your case, we will likely need Company Portal logs. Could you follow the directions at https://docs.microsoft.com/en-us/mem/intune/user-help/send-logs-to-microsoft-android to upload logs. Please relay the incident ID here and we can take a look.

**Describe the bug:**
A

[2022-03-04 21:58] bannus commented on #93
Hi, we have no updates to share at the moment, but we are still working towards a solution here.

[2022-03-04 22:15] bannus commented on #99
@Ponsen Strange, it appears that the system is killing the Company Portal process immediately after your app starts up and the MAM SDK is unable to re-establish communication with it. Could you reproduce the issue again and follow the directions at https://docs.microsoft.com/en-us/mem/intune/user-help/send-logs-to-microsoft-android to upload logs? Please relay the incident ID here and we can take

[2022-03-05 15:55] mlynch commented on #40
This also would make it a lot easier to use the AAR from a sub-module. Really hope to see this package published in a public maven repo like the other Microsoft ones like MSAL!

[2022-03-07 09:27] Ponsen commented on #99
@bannus Logs are uploaded. The incedent ID is

[2022-03-07 21:16] bannus commented on #99
@Ponsen Apologies, could you try that again? That incident didn't contain any files.

[2022-03-08 02:30] Nash123-start commented on #101
This crash is due to the leakcanery has fixed it

[2022-03-08 02:30] #101 closed

[2022-03-10 10:37] Ponsen commented on #99
@bannus I exported the logs on the affected device to the local storage and they keep beeing 0 bytes.
Today I've had a call with the support [Case #:29854779], shared my screen and sent several screenshots and logs. Hopefully I'll have some feedback from them later.

[2022-03-10 13:13] OmarHassan25 opened #102 "SharedPrefrences get cleared automatically"
I am facing a strange issue, I am using shared preferences to save my user settings, When I install the app for the first time I create the shared preference and save my data on if left my app for a while, 1 hour for example;e, the shared pretenses get cleared automatically and I lose all the user settings,

This behavior happens only when I build the app with intune, but the same version of the a

[2022-03-15 13:35] sandeepbhatia4922 opened #103 "Getting crashes on com.microsoft.identity.common.internal.broker.BrokerActivity.onMAMCreate"
App is crashing at BrokerActivity.java line 61

I am getting logs

Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.condecosoftware.condeco/com.microsoft.identity.common.internal.broker.BrokerActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'android.os.Parcelable android.os.Bundle.getParcelable(java.lang.String)' on a null object re

[2022-03-15 13:40] sandeepbhatia4922 opened #104 "getting crash on com.microsoft.intune.mam.client.app.resolver.MAMResolverActivity.onMAMCreate"
app crashes at com.microsoft.intune.mam.client.app.resolver.MAMResolverActivity.onMAMCreate
MAMResolverActivity.java line 20
[code]

[2022-03-15 17:10] boyzhang-msft commented on #103
Hi @sandeepbhatia4922 ,

Thanks for the stack trace. This **method** com.microsoft.intune.mam.client.app.offline.**OfflineActivityBehavior.onCreate(OfflineActivityBehavior.java:90**)

is calling the `onCreate ` method in your `BrokerActivity`. So the crash should be caused by something in your `onCreate` method.

To confirm, could you remove the MAM integration, and see if the crash repros? If not

[2022-03-15 17:27] boyzhang-msft commented on #104
Hi @sandeepbhatia4922 ,

The stack trace looks a little mysterious. The `OfflineActivityBehavior` indicates that you are in offline mode (i.e. the Company Portal app or the TestAgent app is not on device), but I don't think MAM would bring up `MAMResolverActivity` in offline mode, and you can only get an instance of `MAMResolverUIBehavior` in online mode (i.e. the Company Portal App or the TestAge

[2022-03-16 05:24] sandeepbhatia4922 commented on #104
hi @boyzhang-msft  I have registered MAMAuthenticationCallback inside onCreate() of Application class

` OfflineComponents.initialize(applicationContext)
        val mgr = MAMComponents.get(MAMEnrollmentManager::class.java)
        mgr?.registerAuthenticationCallback(AuthenticationCallback(applicationContext))`

and the manifest file as
`<application
        android:allowBackup="false"
        and

[2022-03-16 13:01] sandeepbhatia4922 opened #105 "App crash due to AgentIpcException"
app is crashing due to Fatal Exception: com.microsoft.intune.mam.client.ipc.exceptions.AgentIpcException

I have got crash report from firebase crashlytics. Kindly check the logs and do needful

[code]

[2022-03-18 14:13] boyzhang-msft commented on #105
Thanks for the information, and this is a known issue on our side. We have an internal bug tracking it and we have been working on it incrementally. Unfortunately, we don't have a local repro either. Please keep an eye out for any increasing trend and let us know!

[2022-03-22 14:00] sandeepbhatia4922 opened #106 "Unable to register for MAM with Conditional Access flow"
**Describe the bug:**
I have applied app protection policies in my app using Intune sdk and MSAL.  Everything is  working fine.  Protection policies are being delivered to app.  Now I am  going to test a Conditional Access auth flow with same app which is already policy managed app.
Note - App is not listed as an [Partner productivity apps]. We are targeting app protection policies using applicati

[2022-03-23 06:31] sandeepbhatia4922 commented on #87
@mlynch  exception MsalIntuneAppProtectionPolicyRequiredException is thrown and handled inside on error() method. But MAM policies not enforced using
`val complianceManager = MAMComponents.get(MAMComplianceManager::class.java)
                complianceManager?.remediateCompliance(upn, aaid, tenantis, authorityURL, true)`

The reason is I am getting aaid null from exception.

`if (exception is Msa

[2022-03-23 08:40] Amrender-Singh opened #107 "Android MAM enabled is always set to NO for release build"
I have integrated MAM SdK 8.0 + in my android application. I have performed all the steps mentioned in Microsoft documentation. I always getting the following error: Received MAM enrollment result for package com.iongroup.ionweb, user ionweb@ION879.onmicrosoft.com: NOT_LICENSED. I have also attached complete stack trace.

Also, I am experiencing another issue whenever I generate release APK of my

[2022-03-23 09:10] sandeepbhatia4922 commented on #107
@Amrender-Singh have you register public client at azure portal?. Can u share the json config file ?

[2022-03-23 11:10] Amrender-Singh commented on #107
@sandeepbhatia4922  thanks for getting back.
Here is my JSON config:
[code]

[2022-03-23 11:16] sandeepbhatia4922 commented on #107
@Amrender-Singh  try to apply policies as per my previous comment. It will work.

[2022-03-23 11:28] Amrender-Singh commented on #107
@sandeepbhatia4922  I tried the following, instead of uploading the application, i directly added the package id. However still getting NOT_LICENSED error.
`2022-03-23 16:52:31.374 4482-4607/com.test.pack I/AuthCallbackUtils: App's acquireToken callback successfully returned a token.
2022-03-23 16:52:31.375 4482-4607/com.test.pack I/AMEnrollmentStatusCache: Cached MAM Service URLs are not using la

[2022-03-23 11:31] sandeepbhatia4922 commented on #107
@Amrender-Singh  D/Enrollment Receiver: NOT_LICENSED 2022-03-23 16:52:32.848 4482-4513/com.test.pack
means you have not provided user intune license

[2022-03-23 11:43] Amrender-Singh commented on #107
@sandeepbhatia4922 My user is already added to the security group and is also assigned intune license. Still getting this error.
<img width="1424" alt="Screenshot 2022-03-23 at 5 12 43 PM" src="https://user-images.githubusercontent.com/20567197/159691862-761021f9-8dfe-4460-bb5e-15d070c2b7bd.png">

[2022-03-23 11:56] sandeepbhatia4922 commented on #107
@Amrender-Singh you can also check same issue here
https://github.com/msintuneappsdk/ms-intune-app-sdk-android/issues/86
https://github.com/msintuneappsdk/ms-intune-app-sdk-android/issues/7
https://github.com/msintuneappsdk/ms-intune-app-sdk-android/issues/28

Can u share more info related to protection policies and app registration on azure portal?

[2022-03-23 12:04] Amrender-Singh commented on #107
@sandeepbhatia4922 Please could you let me know what all information you require. Will share it ASAP. Also, had a look the the above links and have already them. Thanks

[2022-03-23 12:08] sandeepbhatia4922 commented on #107
@Amrender-Singh  I think there may be some incorrect set up on azure portal.

[2022-03-23 12:32] Amrender-Singh commented on #107
@sandeepbhatia4922 I have tried everything mentioned in the microsoft documentation and online issues. It would be great if we could connect on Email. Thanks

[2022-03-23 13:29] sandeepbhatia4922 commented on #107
@Amrender-Singh  Hope app policies are being delivered to you now.

[2022-03-23 19:04] Amrender-Singh commented on #107
@sandeepbhatia4922  Yes it is working now. Thank you for helping me out.

[2022-03-23 19:04] #107 closed

[2022-03-23 22:40] meghandaly commented on #104
@sandeepbhatia4922 Are you still experiencing this issue?

[2022-03-23 22:41] meghandaly commented on #103
@sandeepbhatia4922 Can you comment on whether you are still experiencing this issue? If do, can you provide us with the information Boyu requested? If not, can you comment on what resolved the issue?

[2022-03-23 22:43] meghandaly commented on #99
@Ponsen did you receive the help necessary from support / have any updates to share?

[2022-03-24 05:01] sandeepbhatia4922 commented on #106
@meghandaly Please look into this. Why i am unable to get aaid from `MsalIntuneAppProtectionPolicyRequiredException` ?
Please help....

[2022-03-24 05:33] sandeepbhatia4922 commented on #104
@meghandaly I have reported this crash from firebase crashlytics only once.
This happens with device :-
**Device**
Brand: samsung
Model:Galaxy Tab A
Orientation: Landscape
RAM free: 3.1 GB
Disk free: 14.03 GB
**Operating System**
Version:Android 7.1.2
Orientation: Landscape
Rooted:Yes

[2022-03-24 05:40] sandeepbhatia4922 commented on #103
@meghandaly I have removed the MAM integration but unable to repro crash. I have reported this crash from firebase crashlytics only once. On my side I never saw it. So unable to repro it

[2022-03-24 15:22] meghandaly commented on #104
@sandeepbhatia4922 Given the limited scope (1) and information associated with this crash, we do not have enough information to mount an investigation at this time. Should that change in the future, please reactivate with additional context.

[2022-03-24 15:22] #104 closed

[2022-03-24 15:25] meghandaly commented on #103
@sandeepbhatia4922 Understood. Given the inability to reproduce and the limited scope (1) of the crash we do not have enough information to act at this time.

If that changes in the future, please reactivate with additional context.

[2022-03-24 15:25] #103 closed

[2022-03-24 15:32] meghandaly commented on #106
@sandeepbhatia4922 can you please follow the directions to [collect Android logs](https://docs.microsoft.com/en-us/mem/intune/user-help/send-logs-to-microsoft-android) and share the incident ID?

We will need those to continue our investigation.

[2022-03-25 11:59] sandeepbhatia4922 commented on #106
Hi @meghandaly  This time I got upn, aadid, tenantId and authorityURL from `MsalIntuneAppProtectionPolicyRequiredException ` inside OnError() method. But calling

`val complianceManager = MAMComponents.get(MAMComplianceManager::class.java) complianceManager?.remediateCompliance(upn, aaid, tenantis, authorityURL, true)`

abruptly closes my app. App remains in background. I have uploaded logs throug

[2022-04-05 13:15] didldum opened #108 "Qt compatibility issue (keyboard missing, black screen on resume)"
**Describe the bug:**
When integrating the intune SDK into a Qt android application, the keyboard isn't working, and the screen is black when resuming the app after sending it to the background.

**To Reproduce**
Steps to reproduce the behavior:
1. Open and run attached project in Qt Creator (or install and run this [apk](https://www.dropbox.com/s/v05kktzj9pcybo6/untitled2.apk?dl=1), which is alre

[2022-04-05 13:20] didldum commented on #108
Some snippets of the dex2jar code of the compiled app (not from the sample project, but the enterprise application we would like make compatible with intune). We think this snippets might related to the issue.

[code]

[code]

[2022-04-07 17:30] Archit-Pikle commented on #108
Hi @didldum, does this issue occur even without the keyboard?
I tested the sent apk and skipped steps 2 and 3 and still got a black screen.
The issue with the keyboard not appearing may be different than the black screen

[2022-04-07 17:37] didldum commented on #108
Yes they occur unrelated, the cause is probably the same.

[2022-04-08 07:56] sandeepbhatia4922 commented on #106
@meghandaly no reply or solution provided yet?

[2022-04-08 14:26] Archit-Pikle commented on #108
Can you send logs from an enrolled app?

[2022-04-08 17:14] meghandaly commented on #106
To clarify, the 2nd attempt remediated compliance successfully? If so, is your app still experiencing an issue?

Our team reviewed the logs provided via the incident IDs and we see no clear MAM errors. There is indication that the app crashed, but nothing pointing directly to MAM.

[2022-04-19 13:20] Nickjuh101 opened #109 "Unable to create app bundle for SDK 8.6.1"
**Describe the Bug:**
Unable to create app bundles for Intune flavors using SDK version 8.6.1.

**Logs:**
Cause: com.microsoft.intune.mam.client.view.MAMViewGroup not found. Are you missing a MAM support library dependency?
Step it occurs in: transformClassesWithMamifyTransformForProductionIntuneRelease

**To Reproduce:**
1. Navigate to Build > Generate Signed Bundle / APK
2. Choose Android App Bu

[2022-04-19 13:58] joakley-msft commented on #109
@Nickjuh101 we can try, but it's going to be difficult to proceed. Your "To Reproduce" steps aren't meaningful without the project that actually reproduces the problem.  I don't believe *every* app bundle project hits the issue you describe, so we need to know what specifically your project is doing.

1. Can you confirm you are positive that the MAM SDK AAR you are referencing from your build is 8

[2022-04-20 16:28] Innova133 opened #110 "NON_INTEGRATED_VIEW on android.widget.TextView"
**Describe the bug:**
When running my application (debug build, strict mode enabled), I am getting a NON_INTEGRATED_VIEW on certain TextViews.

**To Reproduce**
Steps to reproduce the behavior:
I am not exactly sure, I have other projects where this does not happen.  I am looking for guidance on things to check for and to understand why this class is not getting mamified by the plugin.

**Expected

[2022-04-20 19:37] joakley-msft commented on #110
Hi @Innova133, thanks for reporting this. The most straightforward way for us to investigate this will be if you're able to provide a sample project that reproduces the issue, in which case we can take the investigation from there. If that's not possible, we can try to isolate the view that's causing the problem and talk through what might be wrong.

When MAM policy is applied / the Company Portal

[2022-04-21 07:44] Nickjuh101 commented on #109
@joakley-msft To confirm the first question I went over the project and found out there was a mistake made there. After updating properly the issue is resolved and I am able to create the necessary bundles. Thanks for your help. Ticket can be closed.

[2022-04-21 07:44] #109 closed

[2022-04-21 12:25] joakley-msft commented on #90
This is fixed in SDK 8.6.1

[2022-04-21 12:25] #90 closed

[2022-04-21 12:26] joakley-msft commented on #81
This has been fixed in the Intune Company Portal app.

[2022-04-21 13:13] joakley-msft commented on #87
Closing this issue in favor of #106 so we're not discussing the same thing in two places.

[2022-04-27 13:48] Innova133 commented on #110
Thanks for the response @joakley-msft .  Sorry for the delay getting back, I was on vacation for a few days :)

Let's first try to isolate the issue.

Yes, there are quite a few TextViews in this activity.  Using Layout Inspector, the are all AppCompatTextViews.....There are 0 TextViews and 0 MAMTextViews in the activity as far as I can tell.

All of the TextViews are inflated from xml layout.

No

[2022-04-29 21:59] MathieuCalba commented on #97
Hello, any updates on this?

[2022-04-29 21:59] MathieuCalba commented on #96
Hello, any updates on this?

[2022-05-03 17:12] rygo-msft commented on #108
If I am understanding correctly, it looks like Qt is calling some delegate function through invokeDelegateMethod(). There may be some reflection hidden within native libraries that MAM does not currently have a way to handle. Depending on how the delegate is defined, there may be a way to work around this to restore the functionality

@didldum can you share details on this delegate? Is this someth

[2022-05-05 08:14] Nash123-start opened #111 "OutOfMemoryError When executeHttpSend"
Fatal Exception: java.lang.OutOfMemoryError
Failed to allocate a 4126736 byte allocation with 987360 free bytes and 964KB until OOM, target footprint 268435456, growth limit 268435456

........

com.microsoft.identity.common.internal.net.UrlConnectionHttpClient.executeHttpSend (UrlConnectionHttpClient.java:5)
com.microsoft.identity.common.internal.net.UrlConnectionHttpClient.access$100 (UrlConnect

[2022-05-05 08:21] Nash123-start opened #112 "Crash Due to AgentIpcException"
Caused by com.microsoft.intune.mam.client.ipc.exceptions.AgentIpcException
Android threw IllegalArgumentException. Agent flags: 0doze: false; app inactive: false; agent inactive: false; device interactive: true; power save: false; agent disabled: false; provider disabled: false. Method invoked: methodName: mustCheckPolicies; returnType: int
com.microsoft.intune.mam.client.ipc.ContentProviderEndpoi

[2022-05-09 17:13] JCreswellENVRMNT commented on #93
Checking in again; we're still blocked from using dynamic features by this issue

[2022-05-10 08:32] klauslaiRC opened #113 "Crash on Android 12 emulator (API32, x86_64) created by Android studio"
**Describe the bug:**

**To Reproduce**
Steps to reproduce the behavior:
1. Company portal app is installed
2. launch app build with Intune SDK
3. app crash immediately

**Expected behavior:**
App launched, and navigate to MS account login page

**Screenshots and logs:**
- If applicable, add screenshots to help explain your problem.
- If your app is experiencing an issue during build, do you have

[2022-05-11 21:09] bannus commented on #93
Sorry, still no timeline to share currently.

[2022-05-11 22:50] bannus commented on #112
Duplicate of #105

[2022-05-11 22:50] #112 closed

[2022-05-11 22:51] bannus commented on #111
Please re-open new issue with all information requested in "bug report" template.

[2022-05-11 22:51] #111 closed

[2022-05-12 17:42] bannus commented on #113
Hi @klauslaiRC, we have not observed this on Android 12 emulators. Could you reproduce the problem, then follow the directions at https://docs.microsoft.com/en-us/mem/intune/user-help/send-logs-to-microsoft-android to upload logs? Please relay the incident ID here and we can take a look.

[2022-05-12 17:51] bannus commented on #110
@Innova133, based on your response your setup seems pretty standard, so unfortunately there's not much to work from there. Could you try enabling both the `report` and `verify` options for the MAM build plugin (see [docs](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-android#reporting))? Please share the report from `outputs/logs`.

If those logs don't turn up anything useful, a sa

[2022-05-12 17:54] bannus commented on #96
Sorry, no timeline to share currently.

[2022-05-12 17:55] bannus commented on #97
Sorry, still no timeline to share currently.

[2022-05-13 01:12] klauslaiRC commented on #113
I have reproduce the bug through below steps:
Scenario 1:
1. install company portal
2. install app build with intune SDK
3. launch app 2 times
4. app crashed

Scenario 2:
1. continue Scenario 1
2. login my account in company portal & setup device
3. launch app 7 times
4. app crashed all the time

Incident ID: XW3NGRPB

[2022-05-17 20:48] codylund commented on #113
The root of the crash appears to be an `UnsatisfiedLinkError`, which results from attempting to load an x86_64 shared library on an arm64 emulator.

[code]

Based on code inspection, it appears that the emulator may be incorrectly reporting its ABI via build properties. I am unable to reproduce this issue with `system-images;android-32;google_apis;x86_64`, rev 3 as acquired via SDK Manager in Andr

[2022-05-17 20:54] codylund commented on #106
Closing issue to inactivity.

[2022-05-17 20:54] #106 closed

[2022-05-23 17:15] JCreswellENVRMNT commented on #93
In looking for workaround to this problem, I was considering applying Intune to my library module directly so that the dynamic feature module variable would be removed from the equation; unfortunately, this led to the build error message "Transforms with scopes '[EXTERNAL_LIBRARIES, SUB_PROJECTS]' cannot be applied to library projects".  Is there a way to apply Intune to a library module directly

[2022-05-24 14:36] joakley-msft commented on #110
As a side note, we'd expect the MAM build plugin to modify AppCompatTextView itself. It sounds as though that's likely not happening, but we'll need (ideally) a sample project reproducing the problem or at least the logs Bannus mentioned to diagnose further.

[2022-05-24 14:40] joakley-msft commented on #113
@klauslaiRC a few more questions here
1. Are you seeing this error with multiple/all apps, or specifically with your app? If you're seeing with other apps, could you list the ones you've tried? For example, does it also reproduce with our sample app at https://github.com/msintuneappsdk/Taskr-Sample-Intune-Android-App? If specifically with your app, could you share a sample project with reproduces

[2022-05-24 20:23] joakley-msft commented on #96
Hi @MathieuCalba, my apologies for the delay on this on our side. I attempted to investigate, but am not able to reproduce. When I added Moshi to one of our test apps, including adding codegen through KSP for an adapter the build succeeded without issue. Could you provide a sample app which reproduces this problem?

[2022-06-01 13:01] joakley-msft commented on #110
It would be the former as the AppCompatTextView class itself would be rewritten to extend MAMTextView instead of TextView.

[2022-06-01 14:28] Innova133 commented on #110
Ok, so I made a kotlin extension method to print out the class hierarchy.  I disabled MAMStrictMode so that my app would no longer crash.  I then printed out the hierarchy of all the TextViews in my activity.   They all extend MAMTextView like this:

`E/ExtensionsKt: androidx.appcompat.widget.AppCompatTextView`
`E/ExtensionsKt:   com.microsoft.intune.mam.client.widget.MAMTextView`
`E/ExtensionsKt:

[2022-06-01 19:35] meghandaly commented on #108
@didldum Can you share the details requested by my teammates?

[2022-06-01 20:38] Innova133 commented on #110
[IntuneReport.zip](https://github.com/msintuneappsdk/ms-intune-app-sdk-android/files/8818603/IntuneReport.zip)

Is this helpful?

[2022-06-02 00:50] klauslaiRC commented on #113
oh @meghandaly  I'm very sorry, I've been busy with the verification of the intune app recently, i'm running on macOS, version 11.6.6

[2022-06-03 20:10] Innova133 commented on #110
Min is 24, target is 32.

[2022-06-08 07:33] pa-hisayuki-kishino opened #114 "[Question]Does the Intune SDK get the credentials for the portal site app?"
**Describe the question:**
It's a simple question about how it works.
Do you have the following recognition?
For apps that incorporate the Intune SDK, the Microsoft credentials obtained from the portal site app (broker app) are used via the Intune SDK, so the app protection policy can be obtained.

※When I contacted the Intune Support Center, I was informed.

[2022-06-15 13:59] robaburgess opened #115 "Missing blocking and messaging on Company Portal app deletion"
**Describe the bug:**
With one of our customers, and on Android specifically – the user deletes the Company Portal App after login and is not presented with the expected messaging (see attached video). The customer receives the correct behaviour from the Whiteboard app, but our app does not respond to the deletion of Company Portal.

**To Reproduce**
Steps to reproduce the behavior:
1. Log into ap

[2022-06-20 10:52] didldum commented on #108
This is the log from an enrolled device.
[enrolled.log](https://github.com/msintuneappsdk/ms-intune-app-sdk-android/files/8939959/enrolled.log)

[2022-06-24 05:48] Nash123-start commented on #88
When will this bug be fixed

[2022-06-24 05:48] Nash123-start commented on #105
When will this bug be fixed

[2022-06-24 22:01] rotamir commented on #115
Hi @robaburgess how many devices is this problem being observed on? Also, does it happen consistently on every sign-out from your app?

[2022-06-28 10:09] SageEx commented on #95
Hey @joakley-msft, any updates on supporting configuration cache for mam plugin?

[2022-07-05 08:22] MathieuCalba commented on #97
Hello @joakley-msft, with the latest version, we no longer have the issue. We can close this issue.

[2022-07-05 11:38] joakley-msft commented on #97
Thanks Matthieu. Since we can't reproduce and you no longer have this issue, I'm closing it out.

[2022-07-05 11:38] #97 closed

[2022-07-12 18:46] bannus commented on #96
Closing as we were unable to reproduce. If a sample can be provided that reproduces the issue, please re-open.

[2022-07-12 18:46] #96 closed

[2022-07-12 18:49] bannus commented on #99
Closing as we've been unable to reproduce or receive logs from an affected device. Please re-open if log collection succeeds, and let us know whether all apps on the device are experiencing the same problem, or if other apps (e.g. Outlook) on the same device are able to receive MAM policy and only your app is affected.

[2022-07-12 18:49] #99 closed

[2022-07-12 21:15] bannus commented on #105
@Nash123-start No ETA at this time. If you have any information about incidence rate or product impact that could impact our prioritization, please share here.

[2022-07-12 22:01] bannus commented on #110
Hi @Innova133, unfortunately both the report and the `TextView` hierarchy in your [previous response](https://github.com/msintuneappsdk/ms-intune-app-sdk-android/issues/110#issuecomment-1143684773) suggest that the plugin is rewriting the parent of `AppCompatTextView` to `MAMTextView`.

I did notice that the original report said that the offending view was a `android.widget.TextView`, not `android

[2022-07-12 22:08] bannus commented on #114
Hi @pa-hisayuki-kishino, I don't fully understand your question, but I can point you at our docs which describe the changes SDK integrators need to make to facilitate delivery of App Protection Policy: https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-android#account-authentication

[2022-07-12 22:08] #114 closed

[2022-07-13 06:06] auchan0164 opened #116 ""Multiple accounts found in cache." in Swift"
--- error message
Couldn't query current account with error: Err domain:MSALErrorDomain code:-50000 userInfo:{ MSALErrorDescriptionKey = "Multiple accounts found in cache."; MSALInternalErrorCodeKey = "-42102"; }

--- Same phenomenon as this issue.
https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/923

I tried calling deRegisterAndUnenrollAccount(), deleting the app, and

[2022-07-13 16:30] #116 closed, assigned to nobody

[2022-07-15 20:49] bannus commented on #115
@robaburgess That message does not represent the expected behavior -- after the Company Portal is uninstalled, it is only shown when a managed app either does not have a registered wipe handler or the wipe handler does not return a successful result. The dialog is shown because the app may have not shown any messaging, and the Intune SDK is about to execute a more heavy-handed wipe using system AP

[2022-07-15 20:49] #115 closed

[2022-07-20 19:55] dtarnawsky opened #117 "Android Release Build are not managed like debug builds"
**Describe the bug:**
When uploading an APK to Microsoft Endpoint Manager Admin Center if the build is debug it will report as "MAM Enabled: Yes" but if built as release it will report as "MAM Enabled: No"

**To Reproduce**
Steps to reproduce the behavior with a release build APK:
1. Go to All Services -> Apps -> Add App -> Line of Business App - Choose APK
2. Notice that MAM Enabled: No

**Expect

[2022-07-21 07:07] klauslaiRC commented on #113
hi @bannus  could you please provider an app file? I didn't find an installable program to use in the git repo

[2022-07-21 14:56] parveen-bhatia opened #118 "On reinstall SDK posts ENROLLMENT_SUCCEEDED notification"
**Describe the bug:**
Once Intune enrollment is successful. And we uninstall and reinstall the app.
Then SDK posts ENROLLMENT_SUCCEEDED notification immediately after app launch.
This happens only with release build type not with debug.

**Smartphone:**
 - Android 10.0 (Haven't tried on other Android versions)

**Intune App SDK for Android (please complete the following information):**
- What vers

[2022-07-21 18:08] Shashank-IET opened #119 "MAM Gradle plugin incompatible with AGP 7.2.0/7.2.1"
## **Describe the bug:**
The app is crashing as soon as launched. The crash originates in the Application's `attachBaseContext(..)` method.
Been using the version 8.3.0 and it was working just fine. I have recently upgraded the project's Gradle version & AGP version to 7.4.2 & 7.2.1 respectively & the app started crashing.

**To Reproduce**
Steps to reproduce the behaviour:
1. Click on the app ico

[2022-07-21 18:31] Innova133 opened #120 "Update Documentation to have Kotlin DSL syntax for Gradle Plugin"
**Describe the bug:**
Documentation should be provided for both groovy and kotlin gradle DSL.

**To Reproduce**
Use the Kotlin DSL for your module's build.gradle file.

**Expected behavior:**
An example should be provided in order to configure the gradle plugin with kotlin DSL.  Specifically configuration needed in the
[code]
block.  (Verify, report, excludeVariants, etc)

**Intune App SDK for And

[2022-07-21 19:28] bannus commented on #119
Hi @Shashank-IET. We are aware of an issue that causes the MAM Gradle plugin to be broken on projects using Android Gradle Plugin version 7.2.0 or 7.2.1 due to an AGP bug: https://issuetracker.google.com/issues/232438924. MAM SDK rewrites will not be applied to app project sources, which will typically cause the app to crash on launch.

The fix for the AGP bug will be released in AGP 7.40-alpha03

[2022-07-25 13:08] Acouvreur97 commented on #117
Hello,
Did you try to add `android.enableResourceOptimizations=false` to the file `gradle.properties` ?
For me, after doing this, the file /res/raw/intune_mam_manifest.xml is back in the apk in release mode and MAM is now enabled on Microsoft Endpoint Manager Admin Center in release mode

[2022-07-25 18:39] codylund commented on #118
This behavior is by design. The enrollment is tracked on the Company Portal side and, following a reinstall, your app will automatically become reenrolled based on that state.

[2022-07-25 18:40] #118 closed

[2022-07-25 18:47] codylund commented on #120
Thanks for the suggestion! This is being tracked internally by work item 15049963.

In the meantime, were you able to figure out how to use the Build Plugin with the Kotlin DSL?

[2022-07-25 19:57] Innova133 commented on #120
Not yet.  I worked on it for a bit but am on vacation this week.  If you can share it, that would be great!

[2022-07-27 09:29] Shashank-IET commented on #119
Thanks. this helped.

[2022-07-27 19:52] richakhanna opened #121 "Update for compile SDK 33"
At slack we are working on to update android compileSdk to 33 version, but we are hitting few glitches because of current intune library not supported with SDK 33.

It has to do with all methods that are now using `PackageManager.ResolveInfoFlag` as a second parameter. None of these methods like `getPackageInfo()` , `resolveActivity()` etc are updated in `MamPackageManagement.class` to accept the

[2022-07-27 20:10] ZacSweers commented on #121
Related - it would be great if this processor could be tuned to gracefully handle unrecognized overloads like this, unless the intent is to fail like this on all matching method names

[2022-07-27 22:11] parveen-bhatia commented on #118
Thanks for clarifications.
Follow up question on that  -

**Q:** Is there any way to get `upn` after reinstall (when we receive enrollment sucess) without authenticating with Azure AD again ? (Because i think to [retrieve app config policies](https://msintuneappsdk.github.io/ms-intune-app-sdk-android/reference/com/microsoft/intune/mam/policy/appconfig/MAMAppConfigManager.html#getAppConfig(java.lan

[2022-07-28 17:02] parveen-bhatia opened #122 "Policy refresh callback is getting invoked even no protection policies are configured"
**Describe the bug:**
When we don't configure any app protection policies in the intune console and only app config policies are configured.
Then once Intune enrollment is successful from the app. Then we are getting callback for notification `MAMNotificationType.REFRESH_POLICY`

Smartphone:
Android 10.0 (Haven't tried on other Android versions)

Intune App SDK for Android (please complete the fol

[2022-07-29 17:13] microsoftjoe commented on #122
Hi @parveen-bhatia,
Sorry for the confusion, this is by design.
The Intune service, for its own reasons, will deliver some things that we think of as "policy" in the app-config channel. Because of this, we need to send a REFRESH_POLICY notification when we detect a change to app config.

[2022-08-01 21:18] irving-as opened #123 "MAM gradle plugin incompatible with composite builds"
**Describe the bug:**
I'm trying to integrate the MAM sdk into a project that uses gradle [composite builds](https://docs.gradle.org/current/userguide/composite_builds.html). When building, I'm getting the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Get any project that integrates with the MAM SDK.
2. In the settings.gradle, include any project using `includeBuil

[2022-08-02 14:39] meghandaly commented on #123
@irving-as Can you please provide a minimal sample project that reproduces the issue so we can best investigate?

[2022-08-02 14:41] #122 closed

[2022-08-02 15:12] meghandaly commented on #121
The Intune SDK cannot support targeting Android 13 until it is GA-ed. Based on the [expected timeline shared by Google](https://developer.android.com/about/versions/13#android-13-beta-4), this could be as early as this month and at latest September. Historically we have released an SDK for targeting the new Android version on "Day Zero" and it is our intention to do so for Android 13.

For future

[2022-08-02 15:12] #121 closed

[2022-08-02 15:27] ZacSweers commented on #121
Google has already GA'd the android 13 SDK, they intentionally release it in advance of the launch in order for libraries like this to prepare. Please reconsider your decision, thanks!

[2022-08-02 15:37] meghandaly commented on #121
@ZacSweers Due to the nature of the MAM SDK we cannot formally support targeting a new Android version until GA. Android 13 is currently on Beta 4.

I understand that the following published by Google, "With Beta 3, Android 13 reaches [Platform Stability](https://developer.android.com/preview/overview#platform_stability), a milestone that means all app-facing behaviors and APIs, including the offi

[2022-08-02 16:07] meghandaly commented on #121
@ZacSweers Let me amend my previous comment.

We are currently working on SDK support and will make the release available as soon as it is ready. Platform stability does give us a level of confidence that we can release under, although any changes made when Android 13 is GA (we hope none!)  does affect our confidence levels and release timeline.

We appreciate your early adoption and will take thi

[2022-08-02 16:49] ZacSweers commented on #121
Would you be open to releasing a pre-release version (`8.7.0-beta`, or similar) that we can safely build against? Right now it is impossible for us to use any new Android SDK PackageManager APIs in our main branch due to the above behavior. It prevents _us_ from being ready for Android 13's release as a result, and due to the closed source nature of this project we cannot easily fix this ourselves

[2022-08-02 17:28] meghandaly commented on #110
@Innova133 any updates on Bannus' ask?

[2022-08-02 18:22] irving-as commented on #123
I forked the sample project and added an empty project that I'm importing using `includeBuild`. To repro, you simply have to build it.

Removing the `includeBuild` from the settings.gradle makes the project build just fine.

[2022-08-02 18:58] Innova133 commented on #110
At this time I have moved on to work on a different app.  I did not find any TextView's in my project anywhere, all were AppCompatTextView.  If you would like, you can close this issue, and if I experience it again in the future (with a project that I can share) I will open a new one.

[2022-08-02 19:32] #110 closed

[2022-08-02 19:34] meghandaly commented on #123
@irving-as Thank you for the prompt response. We'll take a look.

[2022-08-03 16:44] meghandaly commented on #117
@dtarnawsky Thank you for reporting this issue and thank you @Acouvreur97 for the helpful workaround.

It appears the obfuscation of resources for Release builds began in AGP 4.2, when `android.enableResourceOptimizations=true` was introduced.

Unfortunately, it appears on newer AGP version this setting is deprecated and slated for removal:

[code]

As such, we are internally investigating how bet

[2022-08-03 19:03] meghandaly commented on #85
Hi @jonathangerbaud thank you for your patience as we investigated this internally.

Unfortunately, the manner in which the `view-pump` library overrides `LayoutInflater` conflicts with the MAM SDK's ability to hook the SDK surface.  While the workaround we provided does prevent an app crash, it does present a data leak for your application. _Ultimately, the MAM SDK and the `view-pump` library are

[2022-08-04 17:26] parveen-bhatia opened #124 "On enrolling with intune no notifications results are received if no policies and no company portal app"
Describe the bug:
When we don't have Company portal app installed and no intune policies are configured.
Then on first time calling `enrollmentManager?.registerAccountForMAM` we are getting notification with result `NOT_LICENSED`
But subsequent calls to`enrollmentManager?.registerAccountForMAM` doesn't return with any notification result.

Smartphone:
Android 10.0 (Haven't tried on other Android v

[2022-08-04 18:43] meghandaly commented on #124
@parveen-bhatia Can you please indicate what behavior you expect?

MAM policies cannot be enforced without the presence of the Company Portal so it is not clear to me what scenario you are attempting to test. For more information, please refer to the [documentation](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-android#company-portal-app).

[2022-08-04 18:52] parveen-bhatia commented on #124
Scenario is user forgot to install company portal app and there are no intune policies.
Then if user tries to enroll with intune using `enrollmentManager?.registerAccountForMAM` then SDK sends `NOT_LICENSED` only first time. Next time if user tries to enroll then SDK doesn't send any notification. So, in our case we wait for enrollment result notification from SDK to proceed further. But as no not

[2022-08-04 19:09] meghandaly commented on #124
What you are describing is not a realistic scenario.

If the user forgot to install the Company Portal and there were Intune policies applied, they would be prompted to do so before they can access the application.

From our documentation:

<body>

NOT_LICENSED | The user is not licensed for Intune, or the attempt to contact the Intune MAM service failed. The app should continue in an unmanaged (n

[2022-08-04 19:09] #124 closed

[2022-08-04 19:16] parveen-bhatia commented on #124
Thanks for your response.

In case company portal is not installed but policies exist then we are getting prompt to install company portal.
But if there are no policies and company portal is not installed then we are not getting any prompt from SDK.
And we don't want the user to continue use the app in unmanaged state. And we already followed instructions from dev guide.

[2022-08-04 20:53] meghandaly commented on #124
Based on your desired scenario it sounds like you want to implement [App Protection CA](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-android#app-protection-ca).

[2022-08-07 21:43] naquee-rizwan opened #125 "Crash observed in FileEncryptionServiceBehavior.java at line 315 due to "Fatal Exception: java.lang.SecurityException""
**Describe the bug:**
App is crashing as soon as it is getting launched. This crash is observed only for device named Avaya CU360. Specifications of this device is added under "Smartphone" bucket.

**To Reproduce**
App is crashing as soon as it is launched.

**Expected behavior:**
App should not crash and users should be able to seamlessly use the application.

**Screenshots and logs:**
[code]

**

[2022-08-07 22:21] naquee-rizwan opened #126 "Crash observed in OMADMTelemetry.java at line 90 due to "Fatal Exception: java.lang.RuntimeException""
**Describe the bug:**
App is crashing as soon as it is getting launched. This crash event happened in the first second of the user’s session.

**To Reproduce**
App is crashing as soon as it is launched.

**Expected behavior:**
App should not crash and users should have a seamless experience using application.

**Screenshots and logs:**
[code]

**Smartphone:**
 - Device: Sonimtech XP8
 - OS: 8.1.0

[2022-08-09 01:24] Nash123-start opened #127 "Crash once when App launch for OOM Problem"
**Describe the bug:**
App crash once when launch app due to oom problem

**To Reproduce**
Steps to reproduce the behavior:
App is crashing as soon as it is launched.

**Expected behavior:**
App should not crash

**Screenshots and logs:**
Fatal Exception: java.lang.OutOfMemoryError: Failed to allocate a 63074752 byte allocation with 36300472 free bytes and 34MB until OOM, target footprint 268435456

[2022-08-09 06:06] Nash123-start opened #128 "ANR when start a new activity"
**Describe the bug:**
App Anr when start a activity.

**To Reproduce**
Steps to reproduce the behavior:
Start a new Activity (Once)

**Expected behavior:**
Should not Anr

**Screenshots and logs:**

"Intune MAM file logger" prio=5 tid=16 Waiting
  | group="main" sCount=1 dsCount=0 flags=1 obj=0x144c05e8 self=0x7bf0042820
  | sysTid=17360 nice=0 cgrp=default sched=0/0 handle=0x7a0d1e8cc0
  | state=

[2022-08-09 06:38] Nash123-start opened #129 "App crash when App launch"
escribe the bug:
App crash once when launch app

To Reproduce
Steps to reproduce the behavior:
App is crashing as soon as it is launched.

Expected behavior:
App should not crash

Screenshots and logs:
Fatal Exception: java.lang.IllegalArgumentException: activity
       at com.microsoft.aad.adal.AuthenticationContext.wrapActivity(AuthenticationContext.java:1245)
       at com.microsoft.aad.adal.Au

[2022-08-10 13:30] meghandaly commented on #129
@Nash123-start Please refer to the [Android versions](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-android#android-versions) requirements for integrating the Android MAM SDK. The highest Android OS version supported, at this time, is Android 12.

Additionally, the MAM team does not have the bandwidth to review every crash stack you may observe for your app. Please investigate furt

[2022-08-10 13:30] #129 closed

[2022-08-10 13:40] meghandaly commented on #125
@naquee-rizwan In this particular instance, this appears to be an OEM issue within the Avaya CU360 device itself. The MAM SDK is monitored for potential violations that could prompt a `SecurityException` and the error comes from deeper in the stack. If the device has side-loaded an older CP and/or is built upon the AOSP code in a non-compliant way, this issue could occur.

Please keep in mind, the

[2022-08-10 13:40] #125 closed

[2022-08-10 14:04] paul-turner commented on #85
Hi @meghandaly, could you expand more on the data leak that the workaround poses? What data is leaked and in what situations is it accessible?

[2022-08-10 14:12] meghandaly commented on #123
Tracked internally with Bug 15136528 and added to the backlog. We do not have an ETA for a fix.

[2022-08-11 03:44] naquee-rizwan commented on #125
Thanks @meghandaly. The issue raised up here was put after investigations were done from my side.
Basis this, I had emphasised the device, the OS version it is using and device's state too in the device's description and link was also provided for their website speculating that it was a device related issue.

Saying that, crash logs (I know it was a Security Exception) were not enough for me to in

[2022-08-11 05:58] yjp123456 opened #130 "Intune sdk conflict with androidx.fragment:fragment:1.5.1 library and cause launch crash"
Bug description:
After the Android X version is upgraded to 1.5, the method call of "lifecycle.addObserver(new Recreator(mOwner))" is moved to the parameterless constructor of componentactivity. This will cause the intune hook the onCreate method of the launch activity without executing the method call of "mSavedStateRegistryController.performRestore(savedInstanceState)" originally in componentact

[2022-08-15 21:01] ZacSweers commented on #121
@meghandaly Android 13 was released today, can you please provide an ETA?

[2022-08-16 16:44] ZacSweers commented on #85
Hello! One of the original ViewPump authors here, I work with Paul and their team pointed me at this. I'd be super curious what the alleged data leak is too, but in the meantime I dug into this more and found that MAM is actually at fault here and generating invalid bytecode. It's independent of ViewPump and can be reproduced with the following snippet.

[code]

This is a fairly trivial demo, but

[2022-08-17 14:59] meghandaly commented on #125
@naquee-rizwan We appreciate the detail you did provide in the bug and we were able to readily identify it as an OEM issue as a result, so thank you again for that 😃

My intention in stating "A single crash for a single user, does not meet that bar." is to highlight that the resources available to address these reported issues are finite. Although the instance per day was high (1.1k) it still qual

[2022-08-17 16:01] meghandaly commented on #121
@ZacSweers Our next release, SDK 9.0.0 can be expected mid-September. Once it is ready we will make it available here.

For future Android releases, we are re-evaluating our options for a "pre-release version" as requested.

[2022-08-17 16:02] ZacSweers commented on #121
Thanks!

[2022-08-17 18:47] mcsimons commented on #126
Thanks for the report. We are internally tracking this bug with #15224562.

[2022-08-17 18:47] meghandaly commented on #119
AGP 7.2.2 released on August 3rd and included the required fix.

From the [AGP Release](https://developer.android.com/studio/releases/gradle-plugin#7-2-0) site:

A future version of the SDK will include a specific check to ensure neither 7.2.0 or 7.2.1 are being used for integrated MAM app development.

[2022-08-17 18:47] #119 closed

[2022-08-17 19:29] igor-brishkoski opened #131 "Not able to set or get App Configuration policy"
**Describe the bug:**
Trying to get data from App Policy Configuration. I added the Intune SDK to my app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**
A clear and concise description of what you expected to happen.

**Screenshots and logs:**
- If applicable, add screenshots to help explain your pro

[2022-08-17 19:42] mcsimons commented on #130
Hi, thanks for the report. In order to best investigate this, we require a bit more information.
1. What version of androidx:fragment was your app previously one and was it successfully integrated with Intune?
2. Could you share the code snippets you are talking through in the bug description?
3. For the quickest investigation, could you provide a small sample app that reproduces this issue?

[2022-08-17 20:50] igor-brishkoski commented on #131
Clicked submit by mistake before I had a chance to fill it out. Sorry about that! I'll open another one.

[2022-08-17 20:56] igor-brishkoski opened #132 "Android App Configuration Policy missing values"
**Describe the bug:**
Trying to get data from App Policy Configuration. `Intune Device ID` is what I need, or any device other device identifiers.

I added the Intune SDK to my app.
I added a list of [managed-configuration](https://developer.android.com/work/managed-configurations) items to my app that I could find from the Intune developer docs, I added the keys from the iOS docs, Android managed

[2022-08-19 13:10] mcsimons commented on #128
Hello, thanks for the report.
Can you confirm if you are seeing this on only on one device or are you seeing a larger pattern of this?
Also, can you confirm if this has ever worked as expected?

[2022-08-22 17:44] igor-brishkoski commented on #132
Any help would be appreciated, tried every support channel SO/Reddit/MS forums. No one seems to have any advice or direction.

[2022-08-22 19:28] rygo-msft commented on #132
To configure app config policy targeting managed devices, you need to first approve the app for Managed Google Play.
To configure app config policy targeting managed apps, you simply need to click `+ Select custom apps` and fill in you package id.

In order to receive app config policies from the Intune App SDK, you will need to fully integrate the SDK including MAM enrollment. Without enrolling t

[2022-08-23 05:35] Nash123-start commented on #128
This ANR Just produce once

[2022-08-23 19:56] paul-turner opened #133 "Usage of deprecated `'android.registerTransform'` AGP api"
**Describe the feature request:**
Hello! Just wanted to drop a notice that the intune plugin is currently using 'android.registerTransform' which is slated to be removed in version 8.0 of the Android Gradle plugin, which will likely be the version after 7.4.
The public roadmap has a slightly different timeline posted https://developer.android.com/studio/releases/gradle-plugin-roadmap. Where 9.0 wi

[2022-08-23 23:16] parveen-bhatia opened #134 "Policy updates are not getting applied"
**Describe the bug:**
After successful authentication (using MSAL) and enrollment (intune SDK). We are getting policy updates. But after changing policies on the intune, policy updates are not being applied. Tried waiting for more than 24hrs and also tried calling `registerAccountForMAM`. But still policy updates are not getting applied.

**Smartphone:**
Android 10.0 (Haven't tried on other Androi

[2022-08-25 02:34] parveen-bhatia commented on #118
@codylund in this case when app is reinstalled and enrollment is successful from SDK. Then should we still continue user with MSAL authentication flow and then enrollment with intune ?

[2022-08-25 13:32] rygo-msft commented on #133
We are aware of this deprecation we are tracking it internally (14592395)

[2022-08-25 13:59] rygo-msft commented on #134
`How frequently SDK pull for protection policies and is there any API to force it earlier ?`
`Do we have easy way to test policy updates like can we try changing device system time ?`
Once successfully enrolled and checked in, the policy will apply for the managed user. We periodically check in for policy updates documented here https://docs.microsoft.com/en-us/mem/intune/apps/app-protection-polic

[2022-08-29 11:44] Durzan666 commented on #105
Are there any updates on this issue?

[2022-08-29 15:11] rygo-msft commented on #132
Closing. If you have follow up questions, please feel free to re-open

[2022-08-29 15:11] rygo-msft commented on #134
Closing answered question. Please re-open if you have a follow up question

[2022-08-29 15:11] #134 closed

[2022-08-29 15:18] parveen-bhatia commented on #134
@rygo-msft thanks for your response.

1) I saw maximum interval is 24hrs. But found automatic policy updates are very hard to get even after waiting for 24hrs keeping the app active or killing and relaunching it multiple times. So, is it possible to provide API to set the time interval ?
2) Manually applying updates from company portal works fine
3) Yes, we have already implemented `MAMServiceAuth

[2022-08-30 21:21] joakley-msft commented on #128
While the ANR does show some threads containing waiting Intune code, this is expected. The main/UI thread does not appear to be waiting on Intune code.  Without a clear indication that Intune is triggering the ANR or steps to reproduce, I'm closing this. Please feel free to reactivate if I've missed something actionable.

[2022-08-30 21:21] #128 closed

[2022-08-30 21:24] joakley-msft commented on #113
@klauslaiRC are you still experiencing this problem? Since it sounds as though the issue reproduces only with your app, we would need that app or a minimal sample to investigate further.

[2022-09-06 19:04] Archit-Pikle commented on #105
Hi @Durzan666, we don't have an ETA at this time

[2022-09-07 17:26] Innova133 commented on #120
Are you able to share an example of the excludeVariants that would work?

[2022-09-12 21:44] Happy202121 opened #135 "Unexpected behaviour when authorizing our app with a GCC High user"
Using Intune SDK for Android 8.3.0

We are working to support GCC High user authorization in our app. Authorization works as expected for Azure public cloud users, as well as users of our iOS app.

When GCC High users try to authorize the app, they get the error "AADSTS700016: Application with identifier not found in the directory (domain name)"

This is because the authorization request contains

[2022-09-13 13:09] Louis012 commented on #40
Any update on this one ?

[2022-09-15 20:00] bannus commented on #108
We're tracking this internally (bug 15188646), no other details to share currently

[2022-09-16 15:25] lukaszciastko opened #136 "Android 13 crashes trying to get PackageInfo"
When running the following code on Android 13 with Intone 9.0.0 (Java/Kotlin):

[code]

the app crashes with the following exception:

[code]

[2022-09-16 18:03] bannus commented on #136
Hi @lukaszciastko, thanks for the report. We are tracking this issue internally (bug 15572424).

[2022-09-20 09:35] mick1418 commented on #130
I'm encountering the same issue when migrating androidx fragment:fragment from 1.4.0 to 1.5.2 with intune SDK 9.0.0.
It was working previously but now I have the same error message as in the description.

[2022-09-20 12:18] mcsimons commented on #130
Thanks for the report, we are currently tracking this issue internally (Bug 15545854) and will update here.

[2022-09-20 18:22] Happy202121 commented on #135
@bannus Can you provide some justification? Why do you think this is an AAD issue? Please reopen my issue.

[2022-09-20 18:34] bannus commented on #135
The only MAM SDK requirement for sovereign cloud support is supplying the authority parameter when `registerAccountForMAM()`​ is called, [as mentioned in our docs](https://learn.microsoft.com/en-us/mem/intune/developer/app-sdk-android-phase4#sovereign-cloud-registration). Otherwise, all sovereign cloud behavior is external to our SDK.

[2022-09-20 18:37] Happy202121 commented on #135
@bannus questions 1, 2, and 3 are unrelated to sovereign cloud. Please provide an answer:

Question 1: As soon as the user opens our app, they are redirected to Company Portal within the app. This prevents us from asking the user if they are part of a GCC High tenant prior to authorization. Is there a way to delay this redirection so we can validate their tenant type first?

Question 2: Why does t

[2022-09-20 19:13] bannus commented on #135
I'm not aware of any MAM SDK behavior that would redirect the user to the Company Portal within your app on launch. Would you be able to provide a video of the behavior you're describing and follow the directions at https://docs.microsoft.com/en-us/mem/intune/user-help/send-logs-to-microsoft-android to upload logs? Please relay the incident ID here.

[2022-09-21 23:31] Happy202121 commented on #135
Thanks @bannus , the incident ID is TTBCXY28. Could you let me know a secure way to share the video with you?

[2022-09-22 14:32] bannus commented on #135
It sounds like your app is using [default enrollment](https://learn.microsoft.com/en-us/mem/intune/developer/app-sdk-android-appendix#default-enrollment), which is not intended to be used by any app that has its own login mechanism. You should remove default enrollment and instead be calling `registerAccountForMAM()` after your user successfully authenticates.

See [Should my application integrate

[2022-09-22 19:39] MathieuCalba commented on #130
Hello, we also face the same issue, but we can’t downgrade `androidx:fragment` as other libraries depends on newest version…

[2022-09-26 18:01] bannus commented on #108
We do not currently have plans to support the Qt framework. The Intune SDK has been tested with native Android applications. We know that partners have incorporated the native Intune libraries into third party Android platforms, but this is not something we test. Some platforms may be trying to integrate with the same Android APIs we use, and this may make them incompatible.

[2022-09-26 18:01] #108 closed

[2022-09-27 08:46] Ponsen commented on #99
Updated to 9.0.0. Still same issue, but successfully generated logs.
IncidentID: 7YQ7PJNB
Also sent a mail to msintuneappsdk@microsoft.com containing a few more issues and the logs.

[2022-09-27 16:37] davidalgar commented on #130
We are seeing the same issue. After forcing androidx.fragment:fragment to 1.4.0 and we still saw the issue - so I believe it may be another dependency update causing the issue, and updating fragment to 1.5.3 is just one way to encounter this issue.

[2022-09-27 17:17] ahimberg commented on #130
I think that the Fragment upgrade is giving you a savedstate update to 1.2.0, (from 1.1.0, which didn't initialize in the way that conflicts with intune sdk).  This change in savedstate between 1.1 and 1.2 : https://github.com/androidx/androidx/commit/65bc2f4f74f8167f85de0003095e21b6144974a5

[2022-09-27 17:25] bannus commented on #130
Evidence suggests there is an incompatibility between the current Intune SDK and `androidx.lifecycle:lifecycle-runtime` 2.5.0+. (Updating to `androidx.fragment:fragment` 1.5.0+ will include a transitive dependency update from for `androidx.lifecycle:lifecycle-*` from 2.3.1 to 2.5.0+.)

We are working on a fix that will become available in the next SDK release. In the meantime, please remain on old

[2022-09-28 21:06] bblia commented on #130
@bannus is there a rouge ETA for an SDK update?

[2022-10-06 17:16] ZacSweers commented on #133
Hi folks, AGP 8.0 is now in alpha and targeting early next year with the gradle 8.0 release. Is there a public-facing issue we could follow for updates?

https://android-developers.googleblog.com/2022/10/prepare-your-Android-project-for-AGP8-changes.html

[2022-10-13 08:49] yaxin3690 opened #137 "intune sdk start Activity is error"
Intent intent = new Intent(MainActivity.this, MainAppActivity.class);
                intent.setFlags(Intent.FLAG_ACTIVITY_NEW_TASK);
                startActivity(intent);

MainAppActivity.java
        WebView webView = findViewById(R.id.proc_text);
        webView.loadUrl("https://www.google.com.hk/");

16:40:57.271  5095-5123  nxin.intunetes                  I  Background concurrent copying GC

[2022-10-14 20:01] microsoftjoe commented on #137
Hi @yaxin3690, the **_AgentInterruptedException_** happens when for some reason the Company Portal doesn't respond to a necessary IPC call. This is usually a sporadic failure. We check at process start for whether or not we can successfully make an IPC call to the Company Portal, and we'll display a dialog asking the user to exempt the Company Portal from battery restrictions. Please try again aft

[2022-10-18 18:23] ZacSweers commented on #133
@msft-cofitz could you expand? The new label doesn't appear to be a meaningful change from the previous update

[2022-10-18 18:27] ZacSweers commented on #85
Someone on Twitter pointed out an even simpler solution than replacing the superclass: https://twitter.com/JakeWharton/status/1582117262474981376?s=20&t=jQmPuzePRNRAECHm7lz5Qg

I'm fairly disappointed that this remains unacknowledged two months later. It's an obvious bug with MAM with a detailed explanation of where the issue is, and the closed-source nature of this SDK means that folks can't fix

[2022-10-20 16:17] msft-cofitz commented on #136
@lukaszciastko [9.0.1](https://github.com/msintuneappsdk/ms-intune-app-sdk-android/releases/tag/9.0.1) contains a fix for this issue. Please let us know if you continue to face the crash after updating.

[2022-10-20 16:17] #136 closed, assigned to nobody

[2022-10-25 17:35] rygo-msft commented on #137
It appears that this AgentInterruptedException is occurring when calling _reportFatalError_. Meaning we are trying to send the crash stack to the Company Portal and the app is already crashing.

We cannot investigate further without app logs (see Joe's request above) to indicate what the underlying crash stack is.

[2022-10-27 02:56] pa-hisayuki-kishino opened #138 "Error when starting app"
**Describe the bug:**

The following combinations cause an error when starting the application
- IntunSDK:9.0.1
- appcompat:1.5.1
- material:1.7.0

The following combinations do not generate an error
- IntunSDK:9.0.1
- appcompat:1.4.2
- material:1.6.1

An error will occur if either appcompat or material is the latest

**Expected behavior:**
I guess it's the compatibility between IntuneSDK and the

[2022-10-27 14:01] bannus commented on #138
Duplicate of #130, please see that issue for updates.

[2022-10-27 14:01] #138 closed

[2022-10-27 14:02] bannus commented on #130
This will be fixed in the next release of the Intune SDK, due mid-November.

[2022-10-27 23:47] pa-hisayuki-kishino commented on #138
Thanks! looking forward to the fix!

[2022-11-02 20:42] joakley-msft commented on #85
Hi Zac, thanks for raising this again, and apologies for the delay in getting back to you. First of all, I think there's been a slight misunderstanding: it wasn't anyone's intention to imply that View Pump itself created data leaks or other security concerns inherently. The concern was that when combining ViewPump and Intune MAM in an app, suppressing Intune MAM processing on these classes might l

[2022-11-03 03:09] ZacSweers commented on #85
Thank you

[2022-11-03 13:30] jonssonth commented on #117
@meghandaly is there any update on this issue? Do you know if there is a workaround. I was thinking of first building and uploading a debuggable APK to Microsoft Endpoint Manager Admin Center, then replacing that with a non debuggable APK.

[2022-11-05 04:18] naquee-rizwan opened #139 "Crash with Security exception while accessing content resolver."
**Describe the bug:**
Crash with Security exception while accessing content resolver. In this scenario, application's content resolver is always resolving to intune sdk (like com.microsoft.windowsintune.companyportal).

**To Reproduce:**
The issue as per the stacktrace and logs seems to be intermittent but the crash rate is quite high. Also as per the analysis, user is trying to open a file to vie

[2022-11-07 11:11] #137 closed

[2022-11-07 11:15] yaxin3690 commented on #137
The following Settings are required: Each application of the company needs to be changed from automatic startup to manual startup; Battery optimization off;

[2022-11-07 11:20] yaxin3690 commented on #137
The following Settings are required: Each application of the company needs to be changed from automatic startup to manual startup; Battery optimization off;

[2022-11-08 13:39] msft-cofitz commented on #130
Fixed in [SDK 9.1.0](https://github.com/msintuneappsdk/ms-intune-app-sdk-android/releases/tag/9.1.0)

[2022-11-08 13:39] #130 closed

[2022-11-14 07:39] xzetic05 opened #140 "Help to update intune-app-wrapping-tool-android support Android 12+"
**Describe the bug:**
The ms-intune-app-sdk-android supported the latest SDK but we are still using the [intune-app-wrapping-tool-android](https://github.com/msintuneappsdk/intune-app-wrapping-tool-android) for our Company Portal application. This wrapping tool don't have any update anymore to support SDK 32 of Android 12.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click

[2022-11-14 21:08] bannus commented on #139
Thanks for the report. This is being tracked internally by #16263514.

[2022-11-14 21:15] bannus commented on #140
Duplicate of https://github.com/msintuneappsdk/intune-app-wrapping-tool-android/issues/64

[2022-11-14 21:15] #140 closed

[2022-11-17 13:38] joakley-msft commented on #113
Closing due to lack of sufficient info to investigate. If you are still facing this issue and are able to provide more information in the future, please feel free to open a new issue.

[2022-11-17 13:38] #113 closed

[2022-11-17 17:32] rygo-msft commented on #139
From our investigation, when an app makes a call into another ContentProvider, MAM first makes a call into that provider to declare the caller's identity. If the calling app does not have permission to interact with the destination provider a SecurityException is thrown.

Our understanding is that had MAM not made this call, the app's request would still result in a SecurityException being thrown

[2022-11-29 14:46] B3nedikt commented on #85
Hi @joakley-msft & @meghandaly.  I got to this issue from an interesting blog post by @ZacSweers.
I created a [fork of ViewPump](https://github.com/B3nedikt/ViewPump) which does not rely on a custom LayoutInflater on android >Q.
Of course switching to a fork takes a bit of work for your users, but I think its better then just deactivating either your "MAM" product or ViewPump ;)